<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <script src="/css/manager/mg_announce.js"></script>
    <style>
        article:hover {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="/css/pagination.css">
</th:block>
<div class="mr-5" layout:fragment="content">
    <div class="flex-column mt-5">
        <div id="board_nav_title" class="navbar navbar-expand flex-md-row navbar-light bg-light border border-bottom-0 border-dark">	<!-- 인기글 등의 메뉴, 검색, 글쓰기 기능 -->
            <h2 class="navbar-brand my-0">
                <th:block th:switch="${sort}">
                    <th:block th:case="event">
                        이벤트
                    </th:block>
                    <th:block th:case="*">
                        공지사항
                    </th:block>
                </th:block>
            </h2>
        </div>

        <div id="board_navbar" class="navbar navbar-expand navbar-light bg-secondary flex-md-row border border-dark">

            <ul class="navbar-nav nav mr-auto">
                <li class="nav-item"><a class="nav-link px-3" href="/manager/announce?sort=event">
                    <i class="fa fa-gift mr-2"></i><span>이벤트</span></a><li>
                <li class="nav-item"><a class="nav-link px-3" href="/manager/announce?sort=announce">
                    <i class="fa fa-bullhorn mr-2"></i><span>공지사항</span></a><li>
            </ul>

            <ul class="navbar-nav nav ml-auto">
                <div class="navbar-nav nav ml-auto">
                    <form class="input-group input-group-sm" th:action="@{/manager/announce}" method="get" id="search_form" >
                        <input type="hidden" th:value="${sort}" name="sort"/>
                        <select class="custom-select" name="type" id="select_form">
                            <option value="" th:selected="${pageMaker.cri.type eq null}">-</option>
                            <option value="T" th:selected="${pageMaker.cri.type eq 'T'}">제목</option>
                            <option value="C" th:selected="${pageMaker.cri.type eq 'C'}">내용</option>
                            <option value="TC" th:selected="${pageMaker.cri.type eq 'TC'}">제목 + 내용</option>
                        </select>
                        <input class="form-control" name="keyword" type="text" placeholder="검색" th:value="${pageMaker.cri.keyword}">
                        <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
                        <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                    </form>
                </div>
            </ul>
        </div>
    </div>

    <div id="board_space"></div>

    <section th:each="event : ${events}">
        <article class="row px-0 mx-0 border border-secondary border-top-0 board_article">
            <input type="hidden" th:value="${event.eveCode.replaceAll('/', '')}">
            <div class="container col-9 px-0 py-2 row">
                <div class="col-8 d-flex">
                    <div class="col-4 pt-2">
                        <img src="" alt="noImg">
                    </div>
                    <div class="col-8 pt-2">
                        <span class="mr-2" th:text="${event.eveTitle}">제목</span>
                        <th:block th:if="${event.eveStart != null}">
                            <div class="d-flex justify-content-between">
                                <span th:text="${#hotpleAPI.timestampToStr(event.eveStart)}"></span>
                                ~
                                <span th:text="${#hotpleAPI.timestampToStr(event.eveExpi)}"></span>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-4 pt-2">
                    <ul class="navbar navbar nav mr-auto p-0">
                        <li><i class="fa fa-eye mx-2"></i><span th:text="${event.eveRdCount}"></span></li>
                    </ul>
                </div>
            </div>

            <div class="container col-3 d-flex flex-column px-0 text-center">
                <div class="container">
                    <div class="mx-auto" data-toggle="tooltip" data-placement="top" th:title="${event.AName}">
                        <i class="fa fa-user-circle mr-2"></i><span>관리자</span>
                    </div>
                </div>
                <span class="d-inline-block">
                    <button class="btn" style="pointer-events: none; vertical-align: inherit;" type="button"
                            th:text="${#hotpleAPI.toDateStr(event.eveCode)}">
                    </button>
                </span>
            </div>
        </article>
    </section>

    <div class="pagination-wrapper">
        <div class="pagination-custom">
            <th:block th:if="${pageMaker.prev}">
                <a th:href="@{'/manager/announce?sort=' + ${sort} + '&pageNum=' + ${pageMaker.startPage - 1}}" class="prev page-numbers">이전</a>
            </th:block>
            <th:block th:if="${!pageMaker.prev}">
                <span aria-current="page" class="prev page-numbers">이전</span>
            </th:block>

            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                <a th:href="@{'/manager/announce?sort=' + ${sort} + '&pageNum=' + ${num}}" th:text="${num}"
                   th:class="|page-numbers ${pageMaker.cri.pageNum == num ? 'current' : ''}|"></a>
            </th:block>

            <th:block th:if="${pageMaker.next}">
                <li class="page-item next">
                    <a th:href="@{'/manager/announce?sort=' + ${sort} + '&pageNum=' + ${pageMaker.endPage + 1}}" class="next page-numbers">다음</a>
                </li>
            </th:block>
            <th:block th:if="${!pageMaker.next}">
                <span aria-current="page" class="next page-numbers">다음</span>
            </th:block>
        </div>
    </div>
</div>
</html>