<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/manager/mg_stop.css" >
    <script src="/css/manager/mg_stop.js"></script>
</th:block>
<div layout:fragment="content">
    <div class="form-group">
        <form method="post" id="tmp-stop" action="">
            <h1 class="h3 mb-3 fw-normal">영업 임시중지</h1>
            <label for="reason" >사유</label>
            <input type="email" id="reason" class="form-control " placeholder="사유" required autofocus>
            <label for="start-time" >시작</label>
            <input type="text" id="start-time" class="form-control datetimepicker"  required>
            <label for="end-time" >종료</label>
            <input type="text" id="end-time" class="form-control datetimepicker"  required>
        </form>
            <button class="btn  btn-danger" id="delete">삭제</button>
            <button class="btn  btn-info" id="modify">변경</button>
            <button class="btn  btn-primary" id="submit" >적용</button>
    </div>
</div>
</html>