<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="manager/layout::head (HOTPLEGO-MANAGER)">
</head>
<body>
<div class="container-fluid px-0">
    <div th:replace="manager/layout::header"></div>
    <div class="container-fluid" style="margin-top: 3.65rem !important">
        <div class="row navbar navbar-expand-lg px-0" >
            <div th:replace="manager/layout::sidebar"></div>
            <div id="content" class="col-xl-9 col-lg-9 row px-0 mt-0 mx-0">
                <div id="content_main" class="col-xl-10 col-lg-12 px-0">
                    <section>
                        <th:block layout:fragment="content"></th:block>
                    </section>
                </div>
                <div id="content_add" class="col-xl-2 col-lg-12 px-0">
                    <section>
                        <img id="add" class="img-fluid" src="" />
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="manager/layout::footer"></div>
</body>
</html>