<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/manager/mg_main_login.css">
    <link href="/css/vendor/calendar/core/main.css" rel="stylesheet" />
    <link href="/css/vendor/calendar/daygrid/main.css" rel="stylesheet" />
    <script src="/css/vendor/calendar/core/main.js"></script>
    <script src="/css/vendor/calendar/daygrid/main.js"></script>
    <script src="/css/vendor/calendar/core/locales/ko.js"></script>
    <script src="/css/vendor/calendar/interaction/main.js"></script>
    <script src="/css/vendor/calendar/google-calendar/main.js"></script>
</th:block>
<div layout:fragment="content" style="background-color: cadetblue;" class="pt-3 mr-3">
    <script th:inline="javascript">
        let map = [[${reservations}]];
        let sale = [[${sales}]];
        let reservations = Object.values(map);
        let events = [];
        reservations.forEach(i => {
            let e = {
                title : '예약 코드 : ' + i[0].riCode + "\n",
                start: new Date(i[0].riTime)
            }
            i.forEach(j => {
                e.title += j.meName + ' ' + j.rsMeNum + '\n';
            });
            events.push(e);
        });

        function addZerobar(month) {
            if (month < 10) return '-0' + month;
            else return '-' + month;
        }

        function dateToTime(date) {
            return date.getFullYear() + '-' +
                addZero(date.getMonth()) + '-' + addZero(date.getDay()) + "T" +
                addZero(date.getHours()) + ":" + addZero(date.getMinutes()) + ":" + addZero(date.getSeconds());
        }

        function addZero(date) {
            if (date < 9) return '0' + date;
            else return date;
        }

        function dateToStr (date) {
            return date.getFullYear().toString().substring(2, 4) +
                addZerobar(date.getMonth() + 1) + addZerobar(date.getDate());
        }

        console.log(map);
        console.log(events);
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ["dayGrid", "interaction", "googleCalendar"],
                editable: true,
                selectable: true,
                eventLimit: true,
                eventSources: [

                    // your event source
                    {
                        events: events,
                        color: '#E0F8E0', // an option!
                        textColor: 'black' // an option!
                    }

                    // any other event sources...
                ],
                eventClick: function(info) {
                    console.log(info);
                    swal("예약 현황", info.event.title + '\n' + dateToTime(info.event.start));
                    return false;
                }
            });
            calendar.render();
        });
    </script>
    <script>

        let bg = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'];
        let backcolor = [];

        let border = ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'];
        let bordercolor = [];

        for (let i = 0; i < 7; i++) {
            backcolor.push(bg[i % bg.length]);
            bordercolor.push(border[i % border.length]);
        }

        const dates = Object.keys(sale);
        const sales = [];
        dates.forEach(date => {
            let sum = 0;
            sale[date].forEach(m => sum += m.mePrice * m.rsMeNum);
            sales.push(sum);
        });

        const weekDates = [];
        const weekSales = [];
        const sevenAgo = new Date(new Date().setDate(new Date().getDate() - 6));

        for (let i = 0; i < 7; i++) {
            weekDates.push(dateToStr(sevenAgo));
            let index = dates.indexOf(weekDates[i]);
            if (index === -1) weekSales.push(0);
            else weekSales.push(sales[index]);
            sevenAgo.setDate(sevenAgo.getDate() + 1);
        }
    </script>
    <div class="mx-4" style="border-radius: 5px; margin-bottom: 20px; background-color: #fff;">
        <div class="row p-2">

            <div class="col-md-6 col-sm-12">
                <div id='calendar' class="col-md-12" style="padding-top:20px;">
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <canvas id="memCanvas"></canvas>
                <script>
                    let hours = [];
                    let visits = [];
                    for (let i = 0; i < 24; i++) {
                        hours.push(i);
                        visits.push(0);
                    }

                    reservations.forEach(i => {
                        visits[new Date(i[0].riTime).getHours()] += i[0].riPerson;
                    });

                    var lineChartData = {
                        labels: hours,
                        datasets: [{
                            label: '시간대 별 방문자 수',
                            fill: false,
                            backgroundColor: 'rgba(255, 99, 132)',
                            borderColor: 'rgba(255, 99, 132)',
                            data: visits
                        }]
                    };

                    var lineChartOpt = {
                        responsive: true,
                        hoverMode: 'index',
                        stacked: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    };

                    var mem_ctx = document.getElementById('memCanvas').getContext('2d');
                    window.myLine = Chart.Line(mem_ctx, {
                        type: 'line',
                        data: lineChartData,
                        options: lineChartOpt
                    });
                </script>


                <canvas id="contentsCanvas"></canvas>
                <script>
                    let contents_ctx = document.getElementById('contentsCanvas').getContext('2d');

                    let barChartData = {
                        labels: weekDates,
                        datasets: [{
                            label: '최근 매출 현황',
                            data: weekSales,
                            backgroundColor: backcolor,
                            borderColor: bordercolor,
                            borderWidth: 1
                        }],
                    }

                    let barChartOpt = {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    }

                    window.myBar = new Chart(contents_ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOpt
                    });
                </script>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>공지사항</span><i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <th:block th:each="event : ${events}">
                                <a th:href="|/manager/announce/*{event.eveCode.replaceAll('/', '')}|">
                                    <span class="text-dark span-right" th:text="${#hotpleAPI.toDateStr(event.eveCode)}"></span>
                                    <pre th:text="${event.eveTitle}"></pre>
                                </a>
                            </th:block>
                        </div>
                        <div class="text-right">
                            <a href="/manager/announce">더 보기 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="col-md-12 col-lg-4">
                <div class="panel panel-default">
                    <div class="d-flex panel-heading">
                        <span class="my-auto">리뷰</span>
                        <div class="d-flex ml-3">
                            <span class="my-auto">사장님 답글 유무</span>
                            <div class="spinner-grow text-success" role="status"></div>
                            <div class="spinner-grow text-danger" role="status"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <th:block th:each="review : ${reviews}">
                                <a href="/manager/reviews" class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <i class="fa fa-fw fa-comment my-auto"></i>
                                        <th:block th:if="${review.rvOwnCont == null}">
                                            <div class="spinner-grow text-danger" role="status"></div>
                                        </th:block>
                                        <th:block th:if="${review.rvOwnCont != null}">
                                            <div class="spinner-grow text-success" role="status"></div>
                                        </th:block>
                                        <span class="badge my-auto" th:text="${#hotpleAPI.toDateStr(review.riCode)}"></span>
                                    </div>
                                    <pre th:text="|*{#hotpleAPI.contSubstring(review.rvCont)}   *{review.rvRating}점|"></pre>
                                </a>
                            </th:block>
                        </div>
                        <div class="text-right">
                            <a href="/manager/reviews">더 보기 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-8">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        예약 손님 현황
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>시간</th>
                                    <th>전화번호</th>
                                    <th>닉네임</th>
                                    <th>이메일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ri : ${reservationInfos}">
                                    <td th:text="${#hotpleAPI.toDateStr(ri.riCode)}"></td>
                                    <td th:text="${#hotpleAPI.toTel(ri.phone)}"></td>
                                    <td th:text="${ri.nick}"></td>
                                    <td th:text="${ri.UCode.split('/')[0]}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <a href="#">더 보기 <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 예약현황 시작  -->
    <div class="container">
        <div class="row col-12">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header bg-transparent">예약현황</h5>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                <tr>
                                    <th>예약 코드</th>
                                    <th>메뉴이름</th>
                                    <th>메뉴코드</th>
                                    <th>메뉴수량</th>
                                    <th>메뉴가격</th>
                                    <th>총 가격</th>
                                    <th>예약시간</th>
                                    <th>회원코드</th>
                                    <th>예약상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="rs : ${reservationAll}">
                                    <td th:text="${rs}">예약 코드</td>
                                    <td>
                                        <th:block th:each="menu : ${reservationAll.get(rs)}">
                                            <p th:text="${menu.meName}">메뉴 이름들</p>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:each="menu : ${reservationAll.get(rs)}">
                                            <p th:text="${menu.meCode}">메뉴 코드들</p>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:each="menu : ${reservationAll.get(rs)}">
                                            <p th:text="${menu.rsMeNum}">메뉴 수량들</p>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:each="menu : ${reservationAll.get(rs)}">
                                            <p th:text="${menu.mePrice}">메뉴 가격들</p>
                                        </th:block>
                                    </td>
                                    <td th:text="${#hotpleAPI.sumMenuPrice(reservationAll.get(rs))}">총 가격</td>
                                    <td th:text="${#hotpleAPI.timestampToStr(reservationAll.get(rs).get(0).riTime)}">예약시간</td>
                                    <td th:text="${reservationAll.get(rs).get(0).UCode}">회원코드</td>
                                    <td>Y</td>
                                </tr>
                                </tr>
                                <tr>
                                    <td colspan="9"><a href="/manager/orders" class="btn btn-outline-success float-right">자세히 보기</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>