<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/manager/mg_menus.css" >
    <script src="/css/manager/mg_menus.js"></script>
</th:block>
<div layout:fragment="content">
    <main class="mt-5 mt-5 col-xl-9">
        <div class="pl-3 pb-5 area3 row" style="border:0px;">
            <h1 class="mr-2">메뉴 추가</h1>
            <input type="button" class="btn btn-light border-dark rounded-circle" value="+" id="add-menu" data-toggle="modal" data-target="#menu-add-modal" style="width: 50px; height: 50px">
        </div>
        <div class="area3" style="border: 0px;"></div>
        <div id="field" class="p-3">
            <div th:name="${menus.key}" th:each="menus : ${menu_map}" class="menu-div p-2 border-dark border rounded mb-5">
                <input type="button" class="btn btn-danger delete-category" value="카테고리 삭제">
                <section class="area2">
                    <ul>
                        <li><input type="button" class="btn btn-warning update-category" value="카테고리 수정" data-toggle="modal" data-target="#category-update-modal"></li>
                        <li><h2 class="category-title" th:text="${menus.key}">카테고리</h2></li>
                        <li><i class="fa fa-arrow-circle-down icon_arr fa-5x mr-2" aria-hidden="true" data-toggle="collapse" role="button" th:data-target="'#' +|collapse*{menus.key}|"></i></li>
                    </ul>
                    <section class="area4 collapse" th:id="|collapse*{menus.key}|">
                        <table th:each="menu : ${menus.value}" style="width:100%">
                            <tbody>
                            <tr class="row">
                                <td class="photo-area col-12 col-sm-6">
                                    <th:block th:if="${menu.uuid == null}">
                                        <img src="/images/clip.jpg" alt="메뉴 이미지를 추가해주세요." class="img-fluid m-auto" style="display: block"><!-- 디폴트 사진 -->
                                    </th:block>
                                    <th:block th:if="${menu.uuid != null}">
                                        <img th:src="${#hotpleAPI.toImg(menu.uploadPath, menu.uuid, menu.fileName, #hotpleAPI.IMAGE)}"
                                             alt="메뉴 이미지를 추가해주세요." class="img-fluid m-auto" style="display: block">
                                    </th:block>
                                </td>
                                <td class="menu-text col-12 col-sm-6">
                                    <input type="button" class="btn btn-info update-modal-btn ml-1" value="메뉴 수정" data-toggle="modal" data-target="#menu-update-modal">
                                    <input type="button" class="btn btn-dark delete-menu ml-3" value="메뉴 삭제">
                                    <div><h3 class="menu-title" th:text="${menu.meName}">메뉴 이름</h3></div>
                                    <div><h6 class="menu-hashtag" th:text="${menu.meHashTag}">해시태그</h6></div>
                                    <div><h6 class="menu-expl" th:text="${menu.meIntr}">설명</h6></div>
                                    <div class="d-flex"><h6 class="menu-price" th:text="${menu.mePrice}">가격</h6><h6>원</h6></div>
                                    <input type="hidden" class="menu-code" th:id="${menu.meCode}" th:value="${menu.meCode}">
                                    <input type="hidden" class="menu-uuid" th:value="${menu.uuid}">
                                    <input type="hidden" class="menu-uploadPath" th:value="${menu.uploadPath}">
                                    <input type="hidden" class="menu-fileName" th:value="${menu.fileName}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </section>
            </div>
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="menu-add-modal" role="dialog">
        <div class="modal-dialog" >
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">메뉴 추가</h4>
                </div>
                <div class="modal-body">
                    <h5>카테고리</h5>
                    <input type="text" id="me-category" placeholder="예) 국밥" class="form-control editing" required>
                    <h5>메뉴명</h5>
                    <input type="text" id="me-name" placeholder="예) 돼지국밥" class="form-control editing" required>
                    <h5>메뉴 사진</h5>
                    <div class="custom-file">
                        <input type="file" id="me-picture" class="custom-file-input">
                        <label class="custom-file-label" for="me-picture">업로드 할 이미지 선택하십시오.</label>
                    </div>
                    <h5>메뉴 설명</h5>
                    <input type="text" id="me-intro"  class="form-control editing" required>
                    <h5>메뉴 가격</h5>
                    <input type="text" id="me-price"  class="form-control editing" required>
                    <h5>메뉴 해쉬태그</h5>
                    <input type="text" id="me-hashtag"  placeholder="예) #국물요리#국밥#돼지" class="form-control editing" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit-menu">확인</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Update Modal -->
    <div class="modal fade" id="menu-update-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">메뉴 수정</h4>
                </div>
                <div class="modal-body">
                    <h5>카테고리</h5>
                    <input type="text" id="me-category-editing" placeholder="예) 국밥" class="form-control editing" required>
                    <h5>메뉴명</h5>
                    <input type="text" id="me-title-editing" placeholder="예) 돼지국밥" class="form-control editing" required>
                    <h5>메뉴 사진</h5>
                    <div class="custom-file">
                        <input type="file" id="me-picture-editing" class="custom-file-input">
                        <label class="custom-file-label" for="me-picture-editing">업로드 할 이미지 선택하십시오.</label>
                    </div>
                    <h5>메뉴 설명</h5>
                    <input type="text" id="me-intro-editing" class="form-control editing" required>
                    <h5>메뉴 가격</h5>
                    <input type="text" id="me-price-editing" class="form-control editing" required>
                    <h5>메뉴 해쉬태그</h5>
                    <input type="text" id="me-hashtag-editing" placeholder="예) #국물요리#국밥#돼지" class="form-control editing" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <input type="hidden" id="me-update-code">
                    <input type="hidden" id="me-update-uuid">
                    <input type="hidden" id="me-update-uploadPath">
                    <input type="hidden" id="me-update-fileName">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="update-menu">확인</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Category Modal -->
    <div class="modal fade" id="category-update-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">카테고리 제목</h4>
                </div>
                <div class="modal-body">
                    <h5 >카테고리</h5>
                    <input type="text" id="category-editing" class="form-control editing"  >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="update-category">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>