<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <script src="/css/manager/mg_myShop.js"></script>
</th:block>
<div layout:fragment="content">
    <th:block th:if="${hotple != null}">
        <div class="d-flex justify-content-center">
            <div class="form-group bg-info pt-5 pr-5 pl-5 pb-3 mt-5 col-xl-6 col-lg-9 col-md-12 text-white" style="border-radius: 25px">
                <div class="d-flex justify-content-center">
                    <img th:src="${#hotpleAPI.toImg(hotple.uploadPath, hotple.htImg, hotple.fileName, #hotpleAPI.IMAGE)}"
                         alt="이미지가 없습니다." class="img-fluid rounded" style="width:300px; height: 200px;">
                </div>
                <input type="hidden" th:value="${hotple.htImg}" th:id="|htImg*{hotple.htId}|">
                <input type="hidden" th:value="${hotple.uploadPath}" th:id="|uploadPath*{hotple.htId}|">
                <input type="hidden" th:value="${hotple.fileName}" th:id="|fileName*{hotple.htId}|">
                <br/>
                <label for="busn-name">업체명</label>
                <input type="text" id="busn-name" class="form-control" th:value="${hotple.busnName}">
                <button type="button" class="btn btn-dark collapsed mt-3 mb-3 col" data-toggle="collapse"
                        th:data-target="'#hotple' + ${hotple.htId}" aria-expanded="false" onclick="changeText(this)">펼치기</button>
                <div class="collapse" th:id="|hotple*{hotple.htId}|">
                    <label for="busn-num">사업자등록번호</label>
                    <input type="text" id="busn-num" class="form-control" th:value="${hotple.busnNum}" maxlength="10">
                    <label th:for="|roadAddrPart1*{hotple.htId}|" class="mt-2">도로명 주소</label>
                    <input type="text" th:id="|roadAddrPart1*{hotple.htId}|" class="form-control" th:value="${hotple.htAddr}" readonly>
                    <button type="button" class="btn btn-dark mt-2" th:onclick="'goPopup(' + ${hotple.htId} + ')'">주소 검색</button><br>
                    <label th:for="|addrDetail*{hotple.htId}|" class="mt-2">상세 주소</label>
                    <input type="text" th:id="|addrDetail*{hotple.htId}|" class="form-control" th:value="${hotple.htAddrDet}">
                    <label th:for="|zipNo*{hotple.htId}|" class="mt-2">우편번호</label>
                    <input type="text" th:id="|zipNo*{hotple.htId}|" class="form-control" th:value="${hotple.htZip}" readonly>
                    <input type="hidden" th:value="${hotple.htLng}" id="lng" />
                    <input type="hidden" th:value="${hotple.htLat}" id="lat" />
                    <label for="introduction" class="mt-2">소개 글</label>
                    <textarea id="introduction" class="form-control" style="resize: none" th:text="${hotple.htCont}"></textarea>
                    <label th:for="|phone*{hotple.htId}|" class="mt-2">업체 연락처</label>
                    <input type="text" th:id="|phone*{hotple.htId}|" class="form-control" th:value="${hotple.htTel}">
                    <label class="mt-2">카테고리</label>
                    <div class="form-inline">
                        <div class="form-group col-6 pr-1 p-0">
                            <select class="form-control col"  th:id="|kindU*{hotple.htId}|" name="kindU" onchange="kindChange(this)" style="width: auto;">
                                <option>선택해주세요</option>
                                <option value="food">먹거리</option>
                                <option value="dessert">디저트</option>
                                <option value="play">놀이/취미</option>
                                <option value="drink">음주</option>
                                <option value="watch">보기</option>
                                <option value="walk">걷기</option>
                            </select>
                        </div>
                        <div class="form-group col-6 pl-1 p-0">
                            <select class="form-control col"  th:id="|kindD*{hotple.htId}|" name="kindD" style="width: auto;">
                                <option>선택해주세요.</option>
                            </select>
                            <script>
                                initKind([[${hotple.category}]], [[${hotple.htId}]]);
                            </script>
                        </div>
                    </div>
                    <div class="custom-file mt-2">
                        <input type="file" class="custom-file-input" th:id="|upload*{hotple.htId}|" accept="image/png, image/jpeg, image/jfif">
                        <label class="custom-file-label" th:for="|upload*{hotple.htId}|">새로 수정할 이미지를 선택하십시오.</label>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button class="btn btn-danger delete_shop">업체 삭제</button>
                        <input type="hidden" th:value="${hotple.htId}">
                        <button class="btn btn-warning update_shop">업체 수정</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${hotple == null}">
        <div class="jumbotron">
            <div class="display-4">업체를 등록해주세요!</div>
            <hr class="my-4">
            <a href="/manager/enrollment" class="btn btn-dark">
                <span>업체 등록하러 가기<span><i class="fa fa-caret-square-o-right ml-2" aria-hidden="true"></i></span></span>
            </a>
        </div>
    </th:block>
</div>
</html>