<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <style>
        input[name="tab_menu"] {
            display:none;
        }

        input[name="tab_menu"]+label {
            display: inline-block;
            padding: 20px;
            background:#ccc;
            color: #999;
            font-size: 14px;
            cursor:pointer;
            border-radius: 15px;
        }

        input[name="tab_menu"]:checked+label {
            background-color: #aaa;
            color: #000;
            font-weight:900;
            border-radius: 15px;
        }

        input[type="textarea"] {
            box-shadow: 1px 1px 0.2em gray;
        }

        .orderBoxes {
            display:none;
        }

        input[id="orderTab"]:checked~.current-orderBox {
            display: block;
        }

        input[id="historyTab"]:checked~.history-orderBox {
            display: block;
        }

        table tr>td, th {
            border: 1px solid #c0c0c0;
            padding: 1px;
        }

        .card3 table tr>td:first-child {
            background-color: #d8d8d8;
            font-weight: 600;
        }
    </style>
</th:block>
<div class="mt-5" layout:fragment="content">
    <input type="radio" name="tab_menu" id="orderTab" checked>
    <label for="orderTab" class="ml-2">신규 예약<span class="badge bg-light text-dark" >2</span></label>
    <input type="radio" name="tab_menu" id="historyTab">
    <label for="historyTab">이전 예약<span class="badge bg-light text-dark">1</span></label>

    <div class="orderBoxes current-orderBox mx-2">
        <div class="card3">
            <table class="table">
                <tr>
                    <td>가게명</td>
                    <td>○○○○</td>
                </tr>
                <tr>
                    <td>주문 메뉴</td>
                    <td>순살치킨 비빔밥 2개 외 1개</td>
                </tr>
                <tr>
                    <td>주문 시간</td>
                    <td>2021-03-24 18:30</td>
                </tr>
                <tr>
                    <td>예약 시간</td>
                    <td>2021-03-24 19:00</td>
                </tr>
                <tr>
                    <td>노쇼 여부</td>
                    <td>
                        <div class="row">
                            <div class="custom-control custom-radio mx-2">
                                <input type="radio" name="serv1" id="Show" class="custom-control-input">
                                <label class="custom-control-label" for="Show">Show</label>
                            </div>
                            <div class="custom-control custom-radio mx-2">
                                <input type="radio" name="serv1" id="NoShow" class="custom-control-input">
                                <label class="custom-control-label" for="NoShow">NoShow</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">상세 보기</td>
                    <td><button class="btn btn-info collapsed" type="button" data-toggle="collapse" data-target="#collapseExample01" aria-expanded="false" aria-controls="collapseExample01">펼치기</button></td>
                </tr>
            </table>
        </div>
        <div id="collapseExample01" class="collapse" >
            <div class="p-3">
                <table class="table">
                    <tr>
                        <th style="background-color: white">주문상세내역</th>
                    </tr>
                    <tr>
                        <td>
                            <table class="table ">
                                <thead class="thead-dark">
                                <th>주문 번호</th>
                                <th>주문 제품</th>
                                <th>가격</th>
                                <th>수량</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2" class="align-middle text-center">
                                        예약코드
                                    </td>
                                    <td>순살치킨 비빔밥</td>
                                    <td>7,600</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>아메리카노</td>
                                    <td>1,700</td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table text-center">
                                <thead class="thead-dark">
                                <th>예약 인원</th>
                                <th>합계 금액</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>16,900</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>요청사항</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="textarea" class="form-control bg-light" readonly />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
    </div>


    <div class="orderBoxes history-orderBox mx-2">
        <div class="card3">
            <table class="table">
                <tr>
                    <td>가게명</td>
                    <td>○○○○</td>
                </tr>
                <tr>
                    <td>주문 메뉴</td>
                    <td>순살치킨 비빔밥 2개 외 1개</td>
                </tr>
                <tr>
                    <td>주문 시간</td>
                    <td>2021-03-24 18:30</td>
                </tr>
                <tr>
                    <td>예약 시간</td>
                    <td>2021-03-24 19:00</td>
                </tr>
                <tr>
                    <td>노쇼 여부</td>
                    <td>
                        <div class="row">
                            <div class="custom-control custom-radio mx-2">
                                <input type="radio" name="serv2" id="Show1" class="custom-control-input">
                                <label class="custom-control-label" for="Show1">Show</label>
                            </div>
                            <div class="custom-control custom-radio mx-2">
                                <input type="radio" name="serv2" id="NoShow1" class="custom-control-input" checked>
                                <label class="custom-control-label" for="NoShow1">NoShow</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">상세 보기</td>
                    <td><button class="btn btn-info collapsed" type="button" data-toggle="collapse" data-target="#collapseExample02" aria-expanded="false" aria-controls="collapseExample02">펼치기</button></td>
                </tr>
                <tr>
                    <td class="align-middle">평균 평점</td>
                    <td>★★★★★<br>
                        <a href="#" class="btn btn-outline-info btn-sm">리뷰 확인하기</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="collapseExample02" class="collapse" >
            <div class="p-3">
                <table class="table">
                    <tr>
                        <th style="background-color: white">주문상세내역</th>
                    </tr>
                    <tr>
                        <td>
                            <table class="table ">
                                <thead class="thead-dark">
                                <th>주문 번호</th>
                                <th>주문 제품</th>
                                <th>가격</th>
                                <th>수량</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2" class="align-middle text-center">
                                        예약코드
                                    </td>
                                    <td>순살치킨 비빔밥</td>
                                    <td>7,600</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>아메리카노</td>
                                    <td>1,700</td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table text-center">
                                <thead class="thead-dark">
                                <th>예약 인원</th>
                                <th>합계 금액</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>16,900</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>요청사항</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="textarea" class="form-control bg-light" readonly />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
    </div>
</div>
</html>