<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>

    <script src="http://code.jquery.com/jquery.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <script src="/css/manager/mg_register.js"></script>
</head>

<body>
<div class="container">
    <!-- 헤더 들어가는 부분 -->

    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">
                <a href="/manager/" style="text-decoration: none; color: black;">HOTPLE GO</a>
            </h2>
        </div>
    </div>
    <hr>
    <!-- 본문 들어가는 부분 -->
    <form class="form-horizontal" role="form" method="post" action="/manager/register">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group" id="divEmail">
            <label for="inputEmail" class="col-lg-2 control-label">이메일</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" name="uCode" data-rule-required="true"
                       placeholder="이메일" maxlength="40">
            </div>
        </div>
        <small id="check_mail" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>

        <div class="form-group" id="divPassword">
            <label for="inputPassword" class="col-lg-2 control-label">패스워드</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" name="pw" data-rule-required="true"
                       placeholder="패스워드" maxlength="15">
            </div>
        </div>
        <small id="check_pass" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>

        <div class="form-group" id="divPasswordCheck">
            <label for="inputPasswordCheck" class="col-lg-2 control-label">패스워드 확인</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="passwordCheck" data-rule-required="true"
                       placeholder="패스워드 확인" maxlength="15">
            </div>
        </div>
        <small id="check_pass_repeat" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>

        <div class="form-group" id="divName">
            <label for="inputName" class="col-lg-2 control-label">이름</label>
            <div class="col-lg-10">
                <input type="text" class="form-control onlyHangul" id="name" name="mName" data-rule-required="true"
                       placeholder="이름을 입력하세요." maxlength="15">
            </div>
        </div>
        <small id="check_name" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>

        <div class="form-group" id="divBirth">
            <label for="inputBirth" class="col-lg-2 form-label">생년월일</label>
            <div class="col-lg-11">
                <input id="birth" type="date" class="col-md-11" name="birthday">
            </div>
        </div>

        <div class="form-group" id="divNickname">
            <label for="inputNickname" class="col-lg-2 control-label">닉네임</label>
            <div class="col-lg-10">
                <input type="text" name="nick" class="form-control" id="nickname" data-rule-required="true"
                       placeholder="닉네임" maxlength="10">
            </div>
        </div>
        <small id="check_nickname" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>


        <div class="form-group" id="divPhoneNumber">
            <label for="inputPhoneNumber" class="col-lg-2 control-label">전화번호</label>
            <div class="col-lg-10">
                <input type="tel" class="form-control" id="phoneNumber" name="phone" data-rule-required="true"
                       placeholder="-를 제외하고 숫자만 입력하세요." maxlength="11">
            </div>
        </div>
        <small id="check_phone" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>

        <div class="form-group">
            <label for="inputPhoneNumber" class="col-lg-2 control-label">성별</label>
            <div class="col-lg-10">
                <select class="form-control" id="gender" name="gender">
                    <option value="M">남</option>
                    <option value="F">여</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="divAccNumber">
            <label for="inputAccNumber" class="col-lg-2 form-label">계좌번호</label>
            <div class="col-lg-11">

                <input type="text" class="col-md-8 onlyNumber" id="AccNumber" name="mAccount" data-rule-required="true"
                       placeholder="-를 제외하고 숫자만 입력하세요." maxlength="14">

                <select class="col-md-3 form-select is-invalid" id="inputAccNum"
                        aria-describedby="validationServer04Feedback" name="mBank" required>
                    <option selected>은행</option>
                    <option value="농협">농협</option>
                    <option value="국민">국민</option>
                    <option value="신한">신한</option>
                    <option value="카카오">카카오</option>
                    <option value="대구">대구</option>
                    <option value="기업">기업</option>
                    <option value="씨티">씨티</option>
                    <option value="케이뱅크">케이뱅크</option>
                </select>
            </div>
        </div>
        <small id="check_acc" class="form-text check_small mt-1 mb-3 ml-4 text-danger"></small>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10" style="text-align: center;">
                <button id="regBtn" type="submit" class="btn btn-primary" style="padding:10px 100px; width: 452px;"
                        disabled="disabled">가입하기
                </button>
            </div>
        </div>

    </form>
    <!--// 본문 들어가는 부분 -->

</div>
</div>
</body>
</html>