<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/manager/mg_review.css">
    <script src="/css/manager/mg_review.js"></script>
</th:block>
<div layout:fragment="content">
    <div>
        <div class="star-point-wrap d-flex">
            <div class="inner">
                <div class="restaurant-star-point">
                    <!-- 전체 평균 -->
                    <strong th:text="${#hotpleAPI.avg(ratings)}">
                    </strong>
                    <span class="star-rating-yel">
                        <span th:style="'width:' + ${#hotpleAPI.avg(ratings) * 20} + '%'" class="float-left"></span>
                    </span>
                </div>
                <ul class="star-point-list d-flex flex-column">
                    <!--5번 반복해서 각 점수별 몇명인지 표시 -->
                    <li th:each="num : ${#hotpleAPI.getMaps(ratings)}">
                        <span class="star-point float-left">
                            <th:block th:each="n : ${#numbers.sequence(1, num.key)}">
                                <span class="full">★</span>
                            </th:block>
                            <span class="points" th:text="|*{num.value}명|">사람수</span>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="review-count">
            <div>
                리뷰 <strong th:text="${countRv}"></strong>개·사장님댓글 <strong th:text="${countOwnRv}">숫자</strong>개
                <label style="float:right;">
                    댓글 없는것만 보기
                    <input type="checkbox" id="reply-check" checked data-toggle="toggle" data-size="xs">
                </label>
            </div>

        </div>
        <ul id="review" class="list-group review-list">

            <!-- 리뷰 전체 시작 (리뷰 수만큼 반복) -->
            <li class="list-group-item star-point" th:each="review : ${reviews}">
                <div>
                    <span nclass="review-id" th:text="${review.UCode}">사용자명</span>
                    <span class="review-time" th:text="${#hotpleAPI.toDateStr(review.riCode)}">시간</span>
                    <a href="" class="btn-report"  data-toggle="modal" data-target="#report-modal" >신고</a>
                </div>
                <div>
                    <div class="star-point">
                        <!-- 별점 갯수 반복 -->
                        <span class="category" >
                            <span class="star-rating">
                                <span th:style="'width:' + ${review.rvRating * 20} + '%'"></span>
                            </span>
                        </span>
                    </div>
                </div>
                <!-- 이미지 들어갈 곳 -->
                <div class="order-items default " th:text="|메뉴코드 : *{review.riCode}|">
                    메뉴코드
                </div>
                <p th:text="${review.rvCont}">리뷰 내용</p>
                <div>
                    <p class="reply-edit-off" onclick="reply_mode(this)">답글 달기</p>
                </div>
                <!-- 답글 달기 -->
                <div class="reply-edit" style="display: none">
                    <div>
                        <span class="owner-review-id">사장님</span>
                        <span class="review-time">시간</span>
                    </div>
                    <textarea type="text" class="form-control" placeholder="댓글 입력"></textarea>
                    <input type="button" class="btn btn-primary pull-right" value="등록" onclick="reply_submit(this)" >
                    <input type="hidden" th:value="${review.riCode}">
                </div>
                <!-- 답글 달기 끝 -->
                <!-- 답글  -->
                <div class="reply-text" style="display: none">
                    <div>
                        <span class="owner-review-id">사장님</span>
                        <span class="review-time">시간</span>
                        <span class="review-edit" onclick="reply_modify(this)">수정</span>
                        <span class="review-edit" onclick="reply_delete(this)">삭제</span>
                        <input type="hidden" th:value="${review.riCode}">
                    </div>
                    <span class="reply-content" th:text="${review.rvOwnCont}"></span>
                </div>
                <!-- 답글 끝 -->
            </li>
            <!-- 리뷰 전체 끝 -->
            <li class="list-group-item btn-more">
                <a><span>더 보기<i class="arr-down"></i></span></a>
            </li>
        </ul>
    </div>
    <!--신고 모달 -->
    <div>
        <div class="modal fade" id="report-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">신고 내용</h4>
                    </div>
                    <div class="modal-body">
                        <h5>신고 사유</h5>
                        <select name="report-options" class="form-control" >
                            <option value="ads">광고</option>
                            <option value="obscene">음란</option>
                            <option value="abuse">욕설</option>
                            <option value="else">기타</option>
                        </select>
                        <input type="text"  id="report-content" class="form-control editing" placeholder="신고 내용" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" >제출</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>