<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<th:block layout:fragment="styles">
    <script src="/css/manager/mg_sales.js"></script>
</th:block>
<div layout:fragment="content">
    <div class="mt-5 mx-2">
        <div class="row">
            <div class="d-flex justify-content-between col-sm-4 col-12 my-1">
                <button type="button" class="btn btn-outline-info btn-sm" id="today">오늘</button>
                <button type="button" class="btn btn-outline-info btn-sm" id="week">일주일</button>
                <button type="button" class="btn btn-outline-info btn-sm" id="month">한달</button>
                <button type="button" class="btn btn-outline-info btn-sm" id="all">전체</button>
            </div>
            <div class="d-flex col-sm-8 col-12 my-1">
                <input type="date" class="form-control" id="start">
                <i class="fa fa-minus mx-3 my-auto"></i>
                <input type="date" class="form-control" id="end">
            </div>
        </div>
        <div class="mx-2">
            <canvas id="sales-chart"></canvas>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>최고</td>
                <td id="maxDate">언제</td>
                <td id="max">얼마</td>
            </tr>
            <tr>
                <td>최저</td>
                <td id="minDate">언제</td>
                <td id="min">얼마</td>
            </tr>
            <tr>
                <td>총 수익</td>
                <td></td>
                <td id="sum">얼마</td>
            </tr>
            <tr>
                <td>평균 수익</td>
                <td></td>
                <td id="avg">얼마</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        let map = [[${sales}]];
    </script>
</div>
</html>