<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<div layout:fragment="content">
    <div class="mt-5 mx-2">
        <div class="row">
            <div class="d-flex justify-content-between col-sm-4 col-12 my-1">
                <button type="button" class="btn btn-outline-info btn-sm">오늘</button>
                <button type="button" class="btn btn-outline-info btn-sm">일주일</button>
                <button type="button" class="btn btn-outline-info btn-sm">한달</button>
            </div>
            <div class="d-flex col-sm-8 col-12 my-1">
                <input type="date" class="form-control"><i class="fa fa-minus mx-3 my-auto"></i>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="mx-2">
            <canvas id="sales-chart"></canvas>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>최고</td>
                <td>언제</td>
                <td>얼마</td>
            </tr>
            <tr>
                <td>최저</td>
                <td>언제</td>
                <td>얼마</td>
            </tr>
            <tr>
                <td>전체</td>
                <td></td>
                <td>얼마</td>
            </tr>
            <tr>
                <td>평균</td>
                <td></td>
                <td>얼마</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        let ctx = document.getElementById("sales-chart").getContext('2d');
        /*
        - Chart를 생성하면서,
        - ctx를 첫번째 argument로 넘겨주고,
        - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다.
        */
        let data = [12, 19, 3, 5, 2, 3, 5, 5, 5, 6, 2 ,7, 13, 16];

        let day = ["일", "월", "화", "수", "목", "금", "토"];
        let realdate = [];

        let bg = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'];
        let backcolor = [];

        let border = ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'];
        let bordercolor = [];

        for (let i = 0; i < data.length; i++) {
            backcolor.push(bg[i % bg.length]);
            bordercolor.push(border[i % border.length]);
            realdate.push(day[i % day.length]);
        }

        let myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: realdate,
                datasets: [{
                    label: '일별 매출',
                    data: data,
                    backgroundColor: backcolor,
                    borderColor: bordercolor,
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
</div>
</html>