<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{manager/default}">
<!--<script layout:fragment="func" src="/css/manager/mg_menus.js"></script>-->
<div layout:fragment="content">
    <div class="form-group">
        <form method="post" id="tmp-stop">
            <h1 class="h3 mb-3 fw-normal">영업 임시중지</h1>
            <label for="reason" class="visually-hidden">사유</label>
            <input type="email" id="reason" class="form-control" placeholder="사유" required autofocus>
            <label for="start-time" class="visually-hidden">시작</label>
            <input type="time" id="start-time" class="form-control"  required>
            <label for="end-time" class="visually-hidden">종료</label>
            <input type="time" id="end-time" class="form-control"  required>
            <button class="w-100 btn btn-lg btn-primary" type="submit">적용</button>
        </form>
    </div>
</div>
</html>