<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <style>
        .container{
            display: flex;
            margin:15px;
        }
        .jumbotron{
            padding:3px;
        }
        .time{
            position: absolute;
            right:40px;
            top:85px;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="jumbotron mx-4">
        <div class="container">
            <img src="/images/clip.jpg" alt="메뉴 이미지를 추가해주세요." class="img-fluid"><!-- 디폴트 사진 -->
            <div style="margin-left:30px; ">
                <p><h3>가게명</h3></p>
                <p><h5>가게 설명</h5></p>
            </div>
            <div class="time">
                <span >2021-04-02</span>
                <span>★</span>
            </div>

        </div>
    </div>
</div>
</html>
