.review-edit{
    float: right;
    cursor: pointer;
    color:#6d6d6d;
    margin-left: 5px ;
}
.review-id, .owner-review-id {
    color: #333 !important;
    font-size: 16px !important;
    font-weight: bold;
}
.reply-edit-off, .reply-edit-on{
    color: #007bff;
    cursor: pointer;
    display: inline;
}
.reply-edit-off:hover, .reply-edit-on:hover{
    text-decoration: underline
}


.reply-edit, .reply-text{
    position: relative;
    background: #f0f0f0;
    padding: 16px 16px 10px 16px;
    overflow: hidden;
    margin: 15px;
}
.reply-text >* , .reply-edit>*{
    margin-bottom: 10px;
}

.reply .btn-report {
    top: 15px;
}

.modal-body > *{
    margin-bottom: 30px;

}

.review-list .list-group-item {
    padding: 20px 16px 16px 16px;
}

.order-items {
    color: #d1bca4;
    font-size: 12px;
    padding-right: 15px;
    margin-top: 10px;
}

.review-count strong {
    color: #333;
}

.review-count {
    position: relative;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #fff;
    color: #666;
    font-size: 12px;
}

.review-count > div {
    padding: 16px;
    border-top: 8px solid #fafafa;
}

.star-point-list {
    float: left;
    margin: -4px 0 0 20px;
    padding: 0;
    min-width: 120px;
}

.star-point-wrap > .inner {
    margin: 0 auto;
}

.restaurant-star-point {
    float: left;
    border-right: 1px solid #e0e0e0;
    min-width: 100px;
    padding-right: 15px;
    height: 54px;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.restaurant-star-point strong {
    color: #333;
    font-size: 48px;
    margin-top: -5px;
    font-family: arial;
    font-weight: normal;
    line-height: 1;
    display: block;
}

.restaurant-star-point .star-point {
    margin-top: -7px;
    display: block;
}

.star-point-wrap {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    height: 142px;
    padding: 24px 15px 0 15px;
    box-sizing: border-box;
    min-width: 300px;
    margin: 0 auto;
}

.star-point > span {
    font-size: 12px !important;
}

.star-point .full {
    color: #ffa400 !important;
    padding-right: 1px !important;
    letter-spacing: 0 !important;
    font-size: 14px !important;
}

.star-point .empty {
    color: #e0e0e0 !important;
    padding-right: 1px !important;
    letter-spacing: 0 !important;
    font-size: 14px !important;
}

.star-point > span {
    font-size: 12px;
}

.star-point .full {
    color: #ffa400;
    padding-right: 1px;
    letter-spacing: 0;
    font-size: 14px;
}

.star-point .points {
    color: #343434;
    padding-right: 1px;
    letter-spacing: 0;
    font-size: 12px !important;
}

.review-list .star-point .points {
    color: #ffa400;
    font-weight: bold;
}

.btn-report {
    color: #999;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 18px;
    right: 16px;
}

.review-time {
    color: #999 !important;
    font-size: 12px !important;
}

.star-rating { width:205px; }
.star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden;
    background:url(/images/star.jpg)no-repeat; }
.star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }


.star-rating-yel { width:205px; }
.star-rating-yel,.star-rating-yel span { display:inline-block; height:39px; overflow:hidden;
    background:url(/images/star1.jpg)no-repeat; }
.star-rating-yel span{ background-position:left bottom; line-height:0; vertical-align:top; }