<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<div class="modal fade" id="user-action" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> 활동 내역 </h5>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-3" id="mem-nick" readonly> <!-- 회원 닉네임 -->
        <input type="text" class="form-control mb-3" id="mem-email" readonly> <!-- 회원 이메일 -->
        <input type="text" class="form-control mb-3" id="mem-regDate" readonly><!-- 회원 가입일 -->
        <input type="text" class="form-control mb-3" id="mem-role" readonly> <!-- 회원 역할 -->
        <h5 class="modal-title"> 게시판 활동 </h5>
        <th:block th:each="bd : ${boards}">
          <button class="btn btn-primary show-board mb-3" th:onclick="'location.href=/board/view'+ @{${bd.bdCode}} + '\''" th:text="${bd.bdTitle}"></button>
        </th:block>
        <hr>
        <h5 class="modal-title"> 댓글 활동 </h5>
        <th:block th:each="com : ${comm}">
          <button class="comm-btn btn btn-success mb-3"  th:text="${com.comCont}"></button> <!--th:onclick="'location.href=/board/view'+ @{${com.bdCode}} + '\''"-->
          <input type="hidden" th:value="${com.bdCode}">
        </th:block>
        <hr>
        <h5 class="modal-title"> 리댓 활동 </h5>
        <th:block th:each="rpy : ${reply}">
          <button class="rpy-btn btn btn-info mb-3" th:text="${rpy.comCont.replace('<br>','')}"></button>
          <input type="hidden" th:value="${rpy.bdCode}">
        </th:block>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  $(document).on('click','.comm-btn',function (){
    let link = $(this).next().val().replaceAll('/','');
    location.href="/board/view/"+link;
  });
  $(document).on('click','.rpy-btn',function (){
    let link = $(this).next().val().replaceAll('/','');
    location.href="/board/view/"+link;
  })
</script>
</html>