<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{admin/default}">
<th:block layout:fragment="styles">
    <script src="/css/admin/adm_member.js"></script>
</th:block>
<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="mb-3"
                style="font-size: 30px; font-weight: bold; color: indianred; text-shadow: 1px 1px 1.2px midnightblue;">
                컨텐츠 관리</h2>
            <button class="btn btn-outline-dark" id="clickBoard" onclick="location.href='/admin/contents'">게시글</button>
            <button class="btn btn-outline-dark" id="clickComment" onclick="location.href='/admin/contents?sort=comNonProcessed'">댓글</button>
            <p style="float: right;">
                <button class="btn btn-outline-dark" id="clickProcess" onclick="location.href='/admin/contents?sort=processed'">처리된 게시글</button>
                <button class="btn btn-outline-dark" id="clickCommProcess" onclick="location.href='/admin/contents?sort=comProcessed'">처리된 댓글</button>
            </p>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>닉네임</th>
                    <th id="th-title">글 제목</th>
                    <th>내용보기</th>
                    <th>처리</th>
                </tr>
                </thead>
                <th:block th:if="${nBoard != null}">
                    <tbody>
                    <tr th:each="nBoard : ${nBoard}">
                        <td th:text="${nBoard.nick}"></td>
                        <td th:text="${nBoard.bdTitle}"></td>
                        <td>
                            <input type="hidden" th:value="${nBoard.bdCode.replaceAll('/', '')}">
                            <button class="btn btn-outline-info member-action-btn moveContent">내용 보기
                            </button>
                        </td>
                        <td>
                            <input type="hidden" th:value="${nBoard.bdCode}">
                            <button class="btn btn-outline-warning deleteContent">지우기</button>
                        </td>
                    </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${yBoard != null}">
                    <tbody>
                    <tr th:each="yBoard : ${yBoard}">
                        <td th:text="${yBoard.nick}"></td>
                        <td th:text="${yBoard.bdTitle}"></td>
                        <td>
                            <input type="hidden" th:value="${yBoard.bdCode.replaceAll('/', '')}">
                            <button class="btn btn-outline-info member-action-btn moveContent">내용 보기
                            </button>
                        </td>
                        <td>
                            <input type="hidden" th:value="${yBoard.bdCode}">
                            <button class="btn btn-outline-warning deleteReContent">지우기</button>
                        </td>
                    </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${nComm != null}">
                    <tbody>
                    <tr th:each="comm : ${nComm}">
                        <td th:text="${comm.nick}"></td>
                        <td th:text="${comm.comCont}"></td>
                        <td>
                            <input type="hidden" th:value="${comm.bdCode.replaceAll('/', '')}">
                            <button class="btn btn-outline-info member-action-btn moveContent">내용 보기
                            </button>
                        </td>
                        <td>
                            <input type="hidden" th:value="${comm.comCode}">
                            <button class="btn btn-outline-warning deleteCommContent">지우기</button>
                        </td>
                    </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${yComm != null}">
                    <tbody>
                    <tr th:each="comm : ${yComm}">
                        <td th:text="${comm.nick}"></td>
                        <td></td>
                        <td>
                            <input type="hidden" th:value="${comm.bdCode.replaceAll('/', '')}">
                            <button class="btn btn-outline-info member-action-btn moveContent">내용 보기
                            </button>
                        </td>
                        <td>
                            <input type="hidden" th:value="${comm.comCode}">
                            <button class="btn btn-outline-warning deleteReCommContent">지우기</button>
                        </td>
                    </tr>
                    </tbody>
                </th:block>
            </table>
        </div>
    </div>
    <!-- 활동 모달 -->
    <!--<div class="modal fade" id="user-action" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"> 글제목 </h5>
            <span><i class="fa fa-eye mx-2" th:text="${board.bdRdCount}"></i></span>
            <span><i class="fa fa-thumbs-o-up mx-2" th:text="${board.bdRecy}"></i></span>
            <span><i class="fa fa-thumbs-o-down mx-2" th:text="${board.bdRecn}"></i></span>
          </div>
          <div class="modal-body">
            <div></div> &lt;!&ndash; 내용 &ndash;&gt;
            <hr>
            <h5>댓글</h5>
            <div></div> &lt;!&ndash; 댓글 &ndash;&gt;
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>-->
</div>
</html>