<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<div class="modal fade" id="user-action" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> 활동 내역 </h5>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-3" id="mem-nick" readonly> <!-- 회원 닉네임 -->
        <input type="text" class="form-control mb-3" id="mem-email" readonly> <!-- 회원 이메일 -->
        <input type="text" class="form-control mb-3" id="mem-regDate" readonly><!-- 회원 가입일 -->
        <input type="text" class="form-control mb-3" id="mem-role" readonly> <!-- 회원 역할 -->
        <h5 class="modal-title"> 게시판 활동 </h5>
        <th:block th:each="bdCode : ${boards}">
          <button class="btn btn-primary" th:onclick="window.open('http://localhost:8000/board/view/'+${bdCode}.replace('/',''))" th:text="${bdCode}"></button>
        </th:block>
        <hr>
        <h5 class="modal-title"> 댓글 활동 </h5>
        <th:block th:each="comCode : ${comm}">
          <button class="btn btn-success" th:text="${comCode}"></button>
        </th:block>
        <hr>
        <h5 class="modal-title"> 리댓 활동 </h5>
        <th:block th:each="replyCode : ${reply}">
          <button class="btn btn-info" th:text="${replyCode}"></button>
        </th:block>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>