<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{admin/default}">
<th:block layout:fragment="styles">
    <script src="/css/admin/adm_guide.js"></script>
</th:block>
<div layout:fragment="content">
    <div class="container">
        <h2 class="mb-3" style="font-size: 30px; font-weight: bold; color: indianred; text-shadow: 1px 1px 1.2px midnightblue;">가이드 승인</h2>
    </div>
    <div class="container border border-dark rounded overflow-auto" style="height: 350px;">
        <th:block th:if="${result != null}">
            <div class="row d-flex justify-content-around my-3" th:each="result : ${result}">
                <div class="col-lg-6 col-sx-4 d-flex justify-content-around mb-2 mt-1">
                    <span class="col-lg-6 cfGuide" th:text="${result.UCode}">신청자</span>
                    <span class="col-lg-6 text-right" th:text="${#hotpleAPI.timestampToStr(result.GAplTime)}">날짜</span>
                </div>
                <button class="btn btn-outline-dark" data-toggle="modal" data-target="#guide_modal">내용 보기</button>
                <div class="d-none" th:text="${result.GCont}">내용</div>
                <button class="btn btn-primary process confirmBtn">수락</button>
                <button id="removeBtn" class="btn btn-danger delete" >거절</button>
            </div>
        </th:block>
    </div>
    <div class="modal fade" id="guide_modal" tabindex="-1" aria-labelledby="guide_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">가이드 신청 내용</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="uCode"></div>
                    <hr/>
                    <div id="gCont"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>