<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div class="modal fade" id="user-action" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> 업체 상세 </h5>
            </div>
            <div class="modal-body">
                <label for="busn-name">업체명</label>
                <input type="text" class="form-control mb-3" id="busn-name" readonly>

                <label for="busn-num">사업자등록번호</label>
                <input type="text" class="form-control mb-3" id="busn-num" readonly>

                <label for="roadAddrPart1">도로명 주소</label>
                <input type="text" class="form-control mb-3" id="roadAddrPart1" readonly>

                <label for="zipNo">우편번호</label>
                <input type="text" class="form-control mb-3" id="zipNo" readonly>

                <label for="intro">소개글</label>
                <textarea type="text" class="form-control mb-3" id="intro" readonly></textarea>

                <label for="busn-phone">업체 연락처</label>
                <input type="text" class="form-control mb-3" id="busn-phone" readonly>

                <label for="category">카테고리</label>
                <div id="category" class="form-inline">
                    <div class="form-group col-6 pr-1 p-0">
                        <input type="text" class="form-control mb-3" readonly>
                    </div>
                    <div class="form-group col-6 pl-1 p-0">
                        <input type="text" class="form-control mb-3" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-close" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>