<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head (title)">
    <title th:text="${title}">제목</title>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- jQuery -->
    <script src="/css/vendor/jq/jquery.min.js"></script>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <script src="/css/vendor/jq/bootstrap-datetimepicker.full.min.js"></script>
    <!-- chart.js -->
    <script src="/css/vendor/chart/Chart.min.js"></script>

    <!-- CSS -->
    <style>
        @import "/css/admin/adm_styles.css";
    </style>

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- javascript -->
    <script type="text/javascript" src="/css/admin/adm_collapse.js"></script>
    <th:block layout:fragment="styles"></th:block>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bd-navbar header" th:fragment="header">
    <a class="navbar-brand" href="/admin/main">
        <img width="80" height="40" class="mr-2" src="/images/logo.jpg">
        HotpleGO
    </a>
    <ul class="nav col nav d-flex flex-row-reverse">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" href="/admin/logout">로그아웃</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".sidebar"
            aria-controls="sidebar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="navbar-collapse sidebar" id="navbarSupportedContent" th:fragment="sidebar">
    <ul class="navbar-nav side-menu">
        <li>
            <a href="main">
                <i class="fa fa-dashboard mr-2"></i>대쉬보드
            </a>
        </li>
        <li>
            <a href="statistics">
                <i class="fa fa-line-chart mr-2"></i>통계
            </a>
        </li>
        <li>
            <a href="members">
                <i class="fa fa-users mr-2"></i>회원 관리
            </a>
        </li>
        <li>
            <a href="main">
                <i class="fa fa-building mr-2"></i>업체 관리
            </a>
        </li>
        <li>
            <a href="contents">
                <i class="fa fa-comments mr-2"></i>컨텐츠 관리
            </a>
        </li>
        <li>
            <a href="announce">
                <i class="fa fa-bullhorn mr-2"></i>이벤트/공지
            </a>
        </li>
        <li>
            <a href="chattingRoom">
                <i class="fa fa-commenting mr-2"></i>채팅 룸
            </a>
        </li>
        <li>
            <a href="alliances">
                <i class="fa fa-handshake-o mr-2"></i>제휴
            </a>
        </li>
        <li>
            <a href="reports">
                <i class="fa fa-fire mr-2"></i> 신고보기
            </a>
        </li>
        <li>
            <a href="feedback">
                <i class="fa fa-fax mr-2"></i> 피드백
            </a>
        </li>
    </ul>
</div>
<footer class="container-fluid bg-dark" th:fragment="footer">
    <div class="card mx-5 bg-warning">
        <div class="row mb-4 ">
            <div class="col-lg-4 col-md-7 col-sm-11 col-xs-11">
                <div class="pull-left">
                    <div class="d-flex">
                        <h1 class="mr-2 px-3">
                            <img width="100" height="50" src="/images/logo.jpg">
                        </h1>
                        <h1 style="color: #957bda">HOTPLEGO</h1>
                    </div>
                    <div class="card-text">
                        <p class= "c__T">Make Wda Greate Again <br></p>
                        조원용 강을찬 김경한 김진환 박호용 이승환 이주영 <br>
                        소속: 영진전문대학교 컴퓨터정보계열 3WDA <br>
                        대표 전화: 053-940-5114 <br>
                        제휴/문의: support@hotplego.co.kr <br>
                        대구광역시 북구 복현로 35
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <h4 class="pt-5 text-center">
                    <i class="fa fa-facebook-official fa-lg"></i>
                </h4>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <h4 class="pt-5 text-center">
                    <i class="fa fa-instagram fa-lg"></i>
                </h4>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <h4 class="pt-5 text-center">
                    <i class="fa fa-twitter fa-lg"></i>
                </h4>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <h4 class="pt-5 text-center">
                    <i class="fa fa-linkedin-square fa-lg"></i>
                </h4>
            </div>
        </div>
        <div class="mb-4"></div>
        <div class="row" style="font-size: 10px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-left">
                    <p>&copy; Copyright WD-A Jo Won Yong All rights reserved</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right mr-4 d-flex">
                    <div>Terms of Use</div>
                    <div>Privacy Policy</div>
                    <div>Cookie Policy</div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>