<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{admin/default}">
<div layout:fragment="content">
    <div class="row d-flex flex-column">
        <script th:inline="javascript">
            let dates = [];

            /*        <c:forEach var="date" items="${ dates }">
                        dates.push('<c:out value="${ date }" />');
                    </c:forEach>*/

            let now = new Date();
            now.setMonth(now.getMonth() - 5);
            dates.push(now.format('yyMM'));
            for (let i = 0; i < 5 ; i++) {
                dates.push(new Date(now.setMonth(now.getMonth() + 1)).format('yyMM'));
            }

            let visits = [];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        visits.push('<c:out value="${ chart_visit_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                visits.push(6 - i);
            }

            let page_views = [];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        page_views.push('<c:out value="${ chart_page_view_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                page_views.push(i);
            }

            let boards = [];
            let dateBoard = [[${staBoardCount}]];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        boards.push('<c:out value="${ chart_boards_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                let count = 0;
                for (let k in dateBoard) {
                    if (dateBoard[k].keyword === dates[i]) count = dateBoard[k].count;
                }
                boards.push(count);
            }


            let comments = [];
            let dateComm = [[${staCommCount}]];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        comments.push('<c:out value="${ chart_comments_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                let count = 0;
                for (let k in dateComm) {
                    if (dateComm[k].keyword === dates[i]) count = dateComm[k].count;
                }
                comments.push(count);
            }
        </script>

        <div class="row">
            <!-- 최근 컨텐츠 현황 -->
            <div class="col-xl-8  mb-3" style="margin: 0 auto;">
                <canvas id="contentsCanvas"></canvas>
                <script>
                    let contents_ctx = document.getElementById('contentsCanvas').getContext('2d');

                    let purple_trans = [];
                    let purple = [];

                    let orange_trans = [];
                    let orange = [];

                    let barChartData = {
                        labels: dates,
                        datasets: [{
                            label: '게시판',
                            data: boards,
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderColor: 'rgba(255, 159, 64, 1)',
                            borderWidth: 1
                        }, {
                            label: '댓글',
                            data: comments,
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1
                        }],
                    }

                    let barChartOpt = {
                        type: 'bar',
                        data: barChartData,
                        title: {
                            display: true,
                            text: '최근 콘텐츠 현황'
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    }

                    window.myBar = new Chart(contents_ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOpt
                    });
                </script>
            </div>
            <!-- 예약 현황 -->
            <div class="col-xl-6 mb-3 mt-5">
                <canvas id="reservationCanvas"></canvas>
                <script>
                    var ctx = document.getElementById('reservationCanvas');
                    var data = {
                        labels: ['혼자','커플','친구','가족'],
                        datasets: [{
                            label: '# of household',
                            data: [30,30,30,10],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',

                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',

                            ],
                            borderWidth: 1
                        }]
                    };

                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: data,
                        options: {
                            title: {
                                display: true,
                                text: '예약 이용률',

                            },
                            plugins: {
                                labels: [
                                    {
                                        /*render: function (options) {
                                            var value = options.value;
                                            return value + "세대";
                                        },*/
                                        fontSize: 30,
                                        fontStyle: 'bold',
                                        fontColor: '#000',
                                        position: 'outside',
                                        outsidePadding: 40,
                                        textMargin: 10
                                    },
                                    {
                                        render: 'label',
                                        fontSize: 30,
                                        fontStyle: 'bold',
                                        fontColor: '#000'
                                    }
                                ]
                            }
                        }
                    });
                </script>
            </div>

            <!-- 이용률 현황 -->
            <div class="col-xl-6  mb-3 mt-5">
                <canvas id="courseUtilizationCanvas"></canvas>
                <input type="hidden" th:value="${utilAlone}" id="utilAlone">
                <input type="hidden" th:value="${utilCouple}" id="utilCouple">
                <input type="hidden" th:value="${utilFamily}" id="utilFamily">
                <input type="hidden" th:value="${utilFriend}" id="utilFriend">
                <script>
                    var ctx = document.getElementById('courseUtilizationCanvas');
                    let alone = $('#utilAlone').val();
                    let couple = $('#utilCouple').val();
                    let family = $('#utilFamily').val();
                    let friend = $('#utilFriend').val();
                    var data = {
                        labels: ['혼자','커플','친구','가족'],
                        datasets: [{
                            label: '# of household',
                            data: [alone,couple,friend,family],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',

                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',

                            ],
                            borderWidth: 1
                        }]
                    };

                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                            title: {
                                display: true,
                                text: '코스 이용률',

                            },
                            plugins: {
                                labels: [
                                    {
                                        /*render: function (options) {
                                            var value = options.value;
                                            return value + "세대";
                                        },*/
                                        fontSize: 30,
                                        fontStyle: 'bold',
                                        fontColor: '#000',
                                        position: 'outside',
                                        outsidePadding: 40,
                                        textMargin: 10
                                    },
                                    {
                                        render: 'label',
                                        fontSize: 30,
                                        fontStyle: 'bold',
                                        fontColor: '#000'
                                    }
                                ]
                            }
                        }
                    });
                </script>
            </div>


        </div>
        </div>

    </div>
</div>
</html>