<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{admin/default}">
<div layout:fragment="content">
    <div class="row d-flex flex-column">
        <script>
            let dates = [];

            /*        <c:forEach var="date" items="${ dates }">
                        dates.push('<c:out value="${ date }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                dates.push(i);
            }

            let visits = [];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        visits.push('<c:out value="${ chart_visit_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                visits.push(6 - i);
            }

            let page_views = [];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        page_views.push('<c:out value="${ chart_page_view_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                page_views.push(i);
            }

            let boards = [];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        boards.push('<c:out value="${ chart_boards_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                boards.push(i + 5);
            }

            let comments = [];

            /*        <c:forEach begin="0" end="6" step="1" var="i">
                        comments.push('<c:out value="${ chart_comments_rs.rowsByIndex[i][0] }" />');
                    </c:forEach>*/

            for (let i = 0; i < 6; i++) {
                comments.push(i);
            }
        </script>
        <div class="row">
            <!-- 방문자 수 현황 -->
            <div class="col-xl-6 col-md-12 mb-3">
                <canvas id="memCanvas"></canvas>
                <script>
                    var lineChartData = {
                        labels: dates,
                        datasets: [{
                            label: '방문자 수',
                            fill: false,
                            backgroundColor: 'rgba(255, 99, 132)',
                            borderColor: 'rgba(255, 99, 132)',
                            data: visits
                        }, {
                            label: '페이지 뷰',
                            backgroundColor: 'rgba(54, 162, 235)',
                            borderColor: 'rgba(54, 162, 235)',
                            fill: false,
                            data: page_views
                        }]
                    };

                    var lineChartOpt = {
                        responsive: true,
                        hoverMode: 'index',
                        stacked: false,
                        title: {
                            display: true,
                            text: '최근 방문자 현황'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    };

                    var mem_ctx = document.getElementById('memCanvas').getContext('2d');
                    window.myLine = Chart.Line(mem_ctx, {
                        type: 'line',
                        data: lineChartData,
                        options: lineChartOpt
                    });

                </script>
            </div>
            <!-- 최근 컨텐츠 현황 -->
            <div class="col-xl-6 col-md-12 mb-3">
                <canvas id="contentsCanvas"></canvas>
                <script>
                    let contents_ctx = document.getElementById('contentsCanvas').getContext('2d');

                    let purple_trans = [];
                    let purple = [];

                    let orange_trans = [];
                    let orange = [];

                    let barChartData = {
                        labels: dates,
                        datasets: [{
                            label: '게시판',
                            data: boards,
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderColor: 'rgba(255, 159, 64, 1)',
                            borderWidth: 1
                        }, {
                            label: '댓글',
                            data: comments,
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1
                        }],
                    }

                    let barChartOpt = {
                        type: 'bar',
                        data: barChartData,
                        title: {
                            display: true,
                            text: '최근 콘텐츠 현황'
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    }

                    window.myBar = new Chart(contents_ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOpt
                    });
                </script>
            </div>

        </div>
        <div class="row">
            <!-- 예약 현황 -->
            <div class="col-xl-6 col-md-12 mb-3">
                <canvas id="reservationCanvas"></canvas>
                <script>
                    var reservationChartData = {
                        labels: dates,
                        datasets: [{
                            label: '방문자 수',
                            fill: false,
                            backgroundColor: 'rgba(255, 99, 132)',
                            borderColor: 'rgba(255, 99, 132)',
                            data: visits
                        }, {
                            label: '페이지 뷰',
                            backgroundColor: 'rgba(54, 162, 235)',
                            borderColor: 'rgba(54, 162, 235)',
                            fill: false,
                            data: page_views
                        },
                            {
                                label: '페이지 뷰',
                                backgroundColor: 'rgba(54, 162, 235)',
                                borderColor: 'rgba(54, 162, 235)',
                                fill: false,
                                data: page_views
                            }
                        ]
                    };

                    var reservationChartOpt = {
                        responsive: true,
                        hoverMode: 'index',
                        stacked: false,
                        title: {
                            display: true,
                            text: '예약 현황'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    };

                    var res_ctx = document.getElementById('reservationCanvas').getContext('2d');
                    window.myLine2 = Chart.Line(res_ctx, {
                        type: 'line',
                        data: reservationChartData,
                        options: reservationChartOpt
                    });

                </script>
            </div>

            <!-- 이용률 현황 -->
            <div class="col-xl-6 col-md-12 mb-3">
                <canvas id="courseUtilizationCanvas"></canvas>
                <script>
                    var courseData = {
                        labels: dates,
                        datasets: [{
                            label: '혼자',
                            fill: false,
                            backgroundColor: 'rgba(255, 99, 132)',
                            borderColor: 'rgba(255, 99, 132)',
                            data: visits
                        }, {
                            label: '커플',
                            backgroundColor: 'rgba(54, 162, 235)',
                            borderColor: 'rgba(54, 162, 235)',
                            fill: false,
                            data: page_views
                        },
                            {
                                label: '친구',
                                backgroundColor: 'rgba(32, 45, 63)',
                                borderColor: 'rgba(32, 45, 63)',
                                fill: false,
                                data: page_views
                            },
                            {
                                label: '가족',
                                backgroundColor: 'rgba(54, 98, 76)',
                                borderColor: 'rgba(54, 98, 76)',
                                fill: false,
                                data: page_views
                            }
                        ]
                    };

                    var courseOpt = {
                        responsive: true,
                        hoverMode: 'index',
                        stacked: false,
                        title: {
                            display: true,
                            text: '이용률'
                        },

                        legend: {
                            position: 'top',
                        }

                    };

                    var course_ctx = document.getElementById('courseUtilizationCanvas').getContext('2d');
                    window.myPie = new Chart(course_ctx, {
                        type: 'pie',
                        data: courseData,
                        options: courseOpt
                    });

                </script>
            </div>
        </div>

    </div>
</div>
</html>