@CHARSET "UTF-8";


.mpy-container{
    margin-bottom: 10em;
}

.pt-container{
    padding-top: 15em;
}

.pd-jumbotron{
    padding-top: 10em;
}

.pd-row{
    padding-bottom: 5em;
}

.container-fluid {
    padding: 5em 5em;
    min-height:600px;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.logo-design{
    max-width: 5.5em;
}


.logo-small {
    color: #3399ff;
    font-size: 50px;
}

.logo {
    color: #3399ff;
    font-size: 200px;
}


@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0px;
    text-align: center;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;

}

.download {
    margin: 0px;
    background-color: rgba(6, 22, 66, 0.199);
}

.down_load {
    font-weight: bold;
    font-size: 35px;
    font-family: 'paybooc-Light';
}

p.a {
    font-size: 25px;
    font-weight:bold;
    color: rgb(32, 32, 32);
    padding-top: 50px;
    line-height: 35px;

}

p.b {
    font-size: 17px;
    line-height: 5px;
}

p {
    line-height: 25px;
}

.download {
    padding: 70px;
}

.info__office{
    color: rgb(49, 48, 48);
    line-height: 10px;
    padding: 20px;
}

.c__T {
    font-size: 20px;
    font-weight:bold;
}

.imq {
    text-align: left;
    margin-bottom: 20px;
}

.osnOAq {
    font-size: 32px;
}

.aqnxpQs {
    font-size: 24px;
}
.Goanb {
    padding: 70px 0px;
}

.top-div {
    height: 78px;
}

.Idbxz {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.BWosna {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1100px;
}

.lijvsY {
    font-size: 24px;
    margin-bottom: 20px;
}

.fNakta {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    flex-direction: column;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
    column-count: initial !important;
    overflow: auto;
    resize: none;

}

.jQEkax {
    height: 62px;
    background: #fff;
    border: 0px;
    outline: 0px;
    padding: 5px 18px;
    border-radius: 4px;
    appearance: none;
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 10px 0px;
    width: 600px;
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    height: 62px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;

}

.footer {
    position: relative;
    align-items: center;
    background-color: #FBEFF5;
    bottom: 0;
    color: #D8D8D8;
    font-size: 1em;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 0 15px;
}

a:visited {
    color: black;
}

.o-hidden {
    overflow: hidden !important;
}

.bg-login-image {
    background: url("../../images/logo2.png");
    background-position: center;
    background-size: cover;
    cursor:pointer;
}

.bg-register-image {
    background: url("../../images/logo2.png");
    background-position: center;
    background-size: cover;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}

form.user .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

.bg-gradient-primary {
    /*position: relative;*/
    /*background-size: cover;*/
}
.bg-gradient-primary::after {

    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://cdn.discordapp.com/attachments/786105447349223429/815848968437104650/htm_20160805185932536567.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-google:hover {
    color: #fff;
    background-color: #e12717;
    border-color: #e6e6e6;
}

.btn-google:focus, .btn-google.focus {
    color: #fff;
    background-color: #e12717;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-google.disabled, .btn-google:disabled {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-google:not(:disabled):not(.disabled):active, .btn-google:not(:disabled):not(.disabled).active,
.show > .btn-google.dropdown-toggle {
    color: #fff;
    background-color: #d62516;
    border-color: #dfdfdf;
}

.btn-google:not(:disabled):not(.disabled):active:focus, .btn-google:not(:disabled):not(.disabled).active:focus,
.show > .btn-google.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #30497c;
    border-color: #e6e6e6;
}

.btn-facebook:focus, .btn-facebook.focus {
    color: #fff;
    background-color: #30497c;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #2d4373;
    border-color: #dfdfdf;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-naver {
    color: #fff;
    background-color: #00ca30;
    border-color: #fff;
}

.btn-naver:hover {
    color: #fff;
    background-color: #02a729;
    border-color: #e6e6e6;
}

.btn-naver:focus, .btn-naver.focus {
    color: #fff;
    background-color: #01801f;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-naver.disabled, .btn-naver:disabled {
    color: #fff;
    background-color: #00ca30;
    border-color: #fff;
}

.btn-naver:not(:disabled):not(.disabled):active, .btn-naver:not(:disabled):not(.disabled).active,
.show > .btn-naver.dropdown-toggle {
    color: #fff;
    background-color: #00ca30;
    border-color: #dfdfdf;
}

.btn-naver:not(:disabled):not(.disabled):active:focus, .btn-naver:not(:disabled):not(.disabled).active:focus,
.show > .btn-naver.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.fa-naver:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'N';
}

.btn-kakako {
    color: #fff;
    background-color: rgba(255, 238, 51, 0.99);
    border-color: #fff;
}

.btn-kakako:hover {
    color: #fff;
    background-color: rgba(191, 181, 35, 0.99);
    border-color: #e6e6e6;
}

.btn-kakako:focus, .btn-kakako.focus {
    color: #fff;
    background-color: rgba(186, 173, 35, 0.99);
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-kakako.disabled, .btn-kakako:disabled {
    color: #fff;
    background-color: rgba(255,238,51,0.99);
    border-color: #fff;
}

.btn-kakako:not(:disabled):not(.disabled):active, .btn-kakako:not(:disabled):not(.disabled).active,
.show > .btn-kakako.dropdown-toggle {
    color: #fff;
    background-color: rgba(255,238,51,0.99);
    border-color: #dfdfdf;
}

.btn-kakako:not(:disabled):not(.disabled):active:focus, .btn-kakako:not(:disabled):not(.disabled).active:focus,
.show > .btn-kakako.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.fa-kakao:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'K';
}

.btn-facebook:visited, .btn-google:visited, .btn-naver:visited, .btn-kakako:visited {
    color: white;
}


.navbar {
    display: block;
}

.navbar-brand {
    display: block;
}

.plus-course:hover {
    cursor: pointer;
}

#bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bubbleBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}