.form-group img {
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.form-group img:hover {
    filter: contrast(0.75);
}

input[type=checkbox]:checked + label > img {
    filter: contrast(0.75);
}

input[type=checkbox] {
    display: none;
}