<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">
    <select id="countUsers" resultType="String">
        SELECT count(*) FROM users
    </select>

    <select id="countBoard" resultType="String">
        SELECT count(*) FROM board
    </select>

    <select id="countComm" resultType="String">
        SELECT count(*) FROM comm
    </select>

    <select id="countCourse" resultType="String">
        SELECT count(*) FROM course
    </select>

    <select id="countReport" resultType="String">
        SELECT count(*) FROM report
    </select>

    <select id="countAlc" resultType="String">
        SELECT count(*) FROM alliance
    </select>

    <delete id="deleteContent">
        DELETE FROM board WHERE bdCode = #{bdCode}
    </delete>

    <select id="datesBoard" resultType="StatisticVO">
        SELECT keyword, COUNT(*) count FROM (SELECT SUBSTR(bdCode, 0, 6) AS keyword FROM board) GROUP BY keyword
    </select>

    <select id="datesComm" resultType="StatisticVO">
        SELECT keyword, COUNT(*) count FROM (SELECT SUBSTR(comCode, 0, 6) AS keyword FROM comm) GROUP BY keyword
    </select>

    <select id="todayUser" resultType="UserVO">
        SELECT * FROM users WHERE TO_CHAR(regdate, 'RRMMDD') = TO_CHAR(CURRENT_DATE, 'RRMMDD') ORDER BY regdate DESC
    </select>
</mapper>