<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.web.AllianceMapper">

    <select id="read" resultType="AllianceVO">
        SELECT * FROM alliance WHERE alc_code = #{code}
    </select>

    <select id="getList" resultType="AllianceVO">
        SELECT * FROM alliance WHERE SUBSTR(alc_code, -1) = #{c}
        <if test="c == 'Y'.toString()">
            ORDER BY alc_code DESC
        </if>
        <if test="c == 'N'.toString()">
            ORDER BY alc_code ASC
        </if>
    </select>

    <insert id="insert">
        INSERT INTO alliance VALUES (TO_CHAR(SYSTIMESTAMP, 'RRMMDDHHmmss/') || LPAD(seq_alc.NEXTVAL, 2, '0') || '/N',
        #{name}, #{email}, #{phone}, #{content})
    </insert>

    <update id="update">
        UPDATE alliance SET alc_code = REPLACE(alc_code, 'N', 'Y') WHERE alc_code = #{code}
    </update>

    <delete id="delete">
        DELETE alliance WHERE alc_code = #{code}
    </delete>
</mapper>