<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.web.BoardMapper">

    <sql id="boardColumns">
        bdCode, bdTitle, bdCont, bdRdCount, bdRecy, bdRecn, uCode
    </sql>

    <select id="getBoardList" resultType="BoardVO">
        SELECT b.bdCode, b.bdTitle, b.bdRdCount, b.bdRecy, b.bdCont, b.bdRecn, com.commcnt, u.nick
        FROM board b NATURAL JOIN users u FULL OUTER JOIN (SELECT bdcode, COUNT(*) as commcnt FROM comm GROUP BY bdcode) COM
        ON(b.bdCode = COM.bdCode) ORDER BY b.bdCode DESC
    </select>


    <select id="getBookmarkList" resultType="BoardVO">
        SELECT b.bdCode, b.bdTitle, b.bdRdCount, b.bdRecy, b.bdCont, b.bdRecn, com.commcnt, u.nick
        FROM board b NATURAL JOIN users u FULL OUTER JOIN (SELECT bdcode, COUNT(*) as commcnt FROM comm GROUP BY bdcode) COM ON(b.bdCode = COM.bdCode)
        JOIN board_bookmark m ON(m.bdCode = b.bdCode) WHERE m.uCode = #{uCode} ORDER BY m.bRegDate DESC
    </select>

    <select id="selectCheck" resultType="String">
        SELECT bdCode FROM board WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </select>

    <select id="selectBoardDetail" resultType="BoardVO">
        SELECT board.*, users.nick FROM board, users
        WHERE bdCode = #{bdCode} and users.uCode = board.uCode
    </select>


    <insert id="insertBoard">
        INSERT INTO board (
        bdCode, bdTitle, bdCont, uCode
        ) VALUES(TO_CHAR(SYSTIMESTAMP, 'RRMMDDHH24MISS/') || LPAD(seq_bd.NEXTVAL, 2, '0') || '/N',
        #{bdTitle},
        #{bdCont},
        <!--        #{bdRdCount},-->
        <!--        #{bdRecy},-->
        <!--        #{bdRecn},-->
        #{uCode}
        )
    </insert>

    <update id="updateBoard">
        UPDATE board SET bdTitle = #{bdTitle}, bdCont = #{bdCont} WHERE bdCode = #{bdCode}
    </update>

    <delete id="deleteBoard">
        DELETE FROM board WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </delete>

    <update id="upView">
        UPDATE board SET bdRdCount = bdRdCount + 1 WHERE bdCode = #{bdCode}
    </update>

    <!-- 추천 비추천 시작 -->

    <update id="recommendUp">
        UPDATE board SET bdRecy = bdRecy + 1 WHERE bdCode = #{bdCode}
    </update>

    <update id="recommendDown">
        UPDATE board SET bdRecy = bdRecy - 1 WHERE bdCode = #{bdCode}
    </update>

    <update id="unRecommendUp">
        UPDATE board SET bdRecn = bdRecn + 1 WHERE bdCode = #{bdCode}
    </update>

    <update id="unRecommendDown">
        UPDATE board SET bdRecn = bdRecn - 1 WHERE bdCode = #{bdCode}
    </update>

    <insert id="insertReco">
        INSERT INTO board_reco (bdCode, uCode, reco) VALUES(#{bdCode}, #{uCode}, #{reco})
    </insert>

    <delete id="deleteReco">
        DELETE FROM board_reco WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </delete>

    <update id="updateReco">
        UPDATE board_reco SET reco = #{reco} WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </update>

    <select id="getReco" resultType="String">
        SELECT reco FROM board_reco WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </select>

    <!-- 추천 비추천 끝 -->

    <select id="getBookmark" resultType="String">
        SELECT bdCode FROM board_bookmark WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </select>

    <delete id="deleteBookmark">
        DELETE FROM board_bookmark WHERE bdCode = #{bdCode} AND uCode = #{uCode}
    </delete>

    <insert id="insertBookmark">
        INSERT INTO board_bookmark(bdCode, uCode) VALUES (#{bdCode}, #{uCode})
    </insert>

</mapper>
