<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.web.CommentMapper">


    <select id="commentOrderByReco" resultType="CommentVO">
        SELECT c.*, u.nick FROM comm c JOIN users u ON(c.uCode = u.uCode) WHERE c.bdCode = #{bdCode} ORDER BY c.replyCode DESC, c.comRecy DESC
    </select>

    <select id="commentOrderByRecent" resultType="CommentVO">
        SELECT c.*, u.nick FROM comm c JOIN users u ON(c.uCode = u.uCode) WHERE c.bdCode = #{bdCode} ORDER BY c.replyCode DESC, c.comCode desc
    </select>

    <select id="commentOrderByWritenReply" resultType="CommentVO">
            SELECT c.comcode, c.comcont, c.comrecy, c.comrecn, c.bdcode, c.uCode, c.replycode, u.nick, CASE WHEN c.comCode = (SELECT replycode FROM comm WHERE comcode = #{comCode}) then 1 else 0 END AS inx
            FROM comm c JOIN users u ON(c.uCode = u.uCode) WHERE c.bdCode = #{bdCode} ORDER BY REPLYCODE DESC, inx desc
    </select>

    <select id="commCodes" resultType="String">
        SELECT comCode FROM comm WHERE uCode = #{uCode} AND replyCode IS NULL
    </select>

    <select id="replyCodes" resultType="String">
        SELECT comCode FROM comm WHERE uCode = #{uCode} AND replyCode IS NOT NULL
    </select>

    <insert id="commentInsert">
        INSERT INTO comm(
        comCode, comCont, bdCode, uCode
        <if test="!(replyCode == null or replyCode == '')">
            , replyCode
        </if>
        ) VALUES(
        TO_CHAR(SYSTIMESTAMP, 'RRMMDDHH24MISS/') || LPAD(seq_com.NEXTVAL, 2, '0') || '/N',
        #{comCont},
        #{bdCode},
        #{uCode}
        <if test="!(replyCode == null or replyCode == '')">
            , #{replyCode}
        </if>
        )
    </insert>

    <update id="commentUpdate">
        UPDATE comm SET comCont = #{comCont} WHERE comCode = #{comCode} AND uCode = #{uCode} AND bdCode = #{bdCode}
    </update>

    <delete id="commentDelete">
        DELETE FROM comm WHERE comCode = #{comCode}
    </delete>

    <update id="comRecommendUp">
        UPDATE comm SET comRecy = comRecy + 1 WHERE comCode = #{comCode}
    </update>

    <update id="comRecommendDown">
        UPDATE comm SET comRecy = comRecy - 1 WHERE comCode = #{comCode}
    </update>

    <update id="unComRecommendUp">
        UPDATE comm SET comRecn = comRecn + 1 WHERE comCode = #{comCode}
    </update>

    <update id="unComRecommendDown">
        UPDATE comm SET comRecn = comRecn - 1 WHERE comCode = #{comCode}
    </update>

    <insert id="insertComReco">
        INSERT INTO comm_reco VALUES ( #{comCode}, #{uCode}, #{reco} )
    </insert>

    <update id="updateComReco">
        UPDATE comm_reco SET reco = #{reco} WHERE comCode = #{comCode} AND uCode = #{uCode}
    </update>

    <delete id="deleteComReco">
        DELETE FROM comm_reco WHERE comCode = #{comCode} AND uCode = #{uCode}
    </delete>

    <select id="getComReco" resultType="CommRecoVO">
        SELECT comCode, reco FROM comm_reco WHERE comCode IN (SELECT comCode FROM comm WHERE bdCode = #{bdCode}) AND uCode = #{uCode}
    </select>
</mapper>