<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">

    <select id="getCourseN" resultType="CourseVO">
        SELECT * FROM course WHERE uCode = #{uCode} AND SUBSTR(csCode, -1) = 'N' ORDER BY csCode DESC
    </select>

    <select id="getCourseInfoN" resultType="CourseInfoVO">
        SELECT * FROM course_info NATURAL JOIN hotple FULL OUTER JOIN image_attach ON (hotple.htImg = image_attach.uuid)
        WHERE csCode IN (SELECT csCode FROM course WHERE uCode = #{uCode}) AND SUBSTR(csCode, -1) = 'N'
        ORDER BY cscode DESC, ciIndex
    </select>

    <select id="getCourseY" resultType="CourseVO">
        SELECT * FROM course WHERE uCode = #{uCode} AND SUBSTR(csCode, -1) = 'Y' ORDER BY csCode DESC
    </select>

    <select id="getCourseInfoY" resultType="CourseInfoVO">
        SELECT * FROM course_info NATURAL JOIN hotple FULL OUTER JOIN image_attach ON (hotple.htImg = image_attach.uuid)
        WHERE csCode IN (SELECT csCode FROM course WHERE uCode = #{uCode}) AND SUBSTR(csCode, -1) = 'Y'
        ORDER BY cscode DESC, ciIndex
    </select>

    <select id="getCourseC" resultType="CourseVO">
        SELECT * FROM course WHERE uCode = #{uCode} AND SUBSTR(csCode, -1) = 'C' ORDER BY csCode DESC
    </select>

    <select id="getCourseInfoC" resultType="CourseInfoVO">
        SELECT * FROM course_info NATURAL JOIN hotple FULL OUTER JOIN image_attach ON (hotple.htImg = image_attach.uuid)
        WHERE csCode IN (SELECT csCode FROM course WHERE uCode = #{uCode}) AND SUBSTR(csCode, -1) = 'C'
        ORDER BY cscode DESC, ciIndex
    </select>

    <select id="getCourseNC" resultType="CourseVO">
        SELECT * FROM course WHERE uCode = #{uCode} AND SUBSTR(csCode, -1) IN ('C', 'N') ORDER BY csCode DESC
    </select>

    <select id="getCourseInfoNC" resultType="CourseInfoVO">
        SELECT * FROM course_info NATURAL JOIN hotple FULL OUTER JOIN image_attach ON (hotple.htImg = image_attach.uuid)
        WHERE csCode IN (SELECT csCode FROM course WHERE uCode = #{uCode}) AND SUBSTR(csCode, -1) IN ('C', 'N')
        ORDER BY cscode DESC, ciIndex
    </select>

    <select id="getCourse" resultType="CourseVO">
        SELECT * FROM course WHERE csCode = #{csCode}
    </select>

    <select id="getCourseInfo" resultType="CourseInfoVO">
        SELECT * FROM course_info NATURAL JOIN hotple FULL OUTER JOIN image_attach ON (hotple.htImg = image_attach.uuid)
        WHERE csCode = #{csCode} ORDER BY cscode DESC, ciIndex
    </select>

    <insert id="insert">
        <selectKey keyProperty="csCode" resultType="String" order="BEFORE">
            SELECT TO_CHAR(CURRENT_TIMESTAMP, 'RRMMDDHH24MISS/') || LPAD(seq_cs.NEXTVAL, 2, '0') || '/N' FROM DUAL
        </selectKey>
        INSERT INTO course (csCode, csTitle, csWith, csNum, uCode)
        VALUES (#{csCode}, #{csTitle}, #{csWith}, #{csNum}, #{uCode})
    </insert>

    <insert id="insertMBTI">
        <selectKey keyProperty="vo.csCode" resultType="String" order="BEFORE">
            SELECT TO_CHAR(CURRENT_TIMESTAMP, 'RRMMDDHH24MISS/') || LPAD(seq_cs.NEXTVAL, 2, '0') || '/N' FROM DUAL
        </selectKey>
        INSERT INTO course (csCode, csTitle, csWith, csNum, uCode)
        VALUES (#{vo.csCode}, #{mbti} || (SELECT COUNT(*) FROM course WHERE uCode = #{vo.uCode} AND csTitle LIKE #{mbti} || '%'), #{vo.csWith}, #{vo.csNum}, #{vo.uCode})
    </insert>

    <insert id="addCourse">
        INSERT INTO course_info (csCode, htId, ciIndex)
        VALUES (#{csCode}, #{htId},
        (SELECT NVL(MAX(ciIndex), 0) + 1 FROM course_info WHERE csCode = #{csCode}))
    </insert>

    <select id="getCsHtId" resultType="String">
        SELECT csCode FROM course_info WHERE csCode = #{csCode} AND htId = #{htId}
    </select>

    <update id="delHtInCs">
        {
        CALL delHtInCs(#{csCode}, #{htId})
        }
    </update>

    <delete id="deleteCourse">
        DELETE FROM course WHERE csCode = #{csCode}
    </delete>

    <select id="selectUsing" resultType="String">
        SELECT csCode FROM course WHERE SUBSTR(csCode, -1) = 'C' AND uCode = #{uCode}
    </select>

    <update id="updateUseCourse">
        {
            CALL
                DECLARE
                BEGIN

                UPDATE course_info SET csCode = SUBSTR(#{csCode}, 0, 16) || 'C'
                WHERE csCode = #{csCode};

                UPDATE course SET csCode = SUBSTR(#{csCode}, 0, 16) || 'C'
                WHERE csCode = #{csCode};

            END
        }
    </update>

    <update id="updateChangeCourse">
        {
        CALL chgUsing(#{uCode}, #{csCode})
        }
    </update>

    <update id="updateReturnCourse">
        {
            CALL
                DECLARE
                BEGIN

                UPDATE course SET csCode = SUBSTR(#{csCode}, 0, 16) || 'N'
                WHERE csCode = #{csCode};

                UPDATE course_info SET csCode = SUBSTR(#{csCode}, 0, 16) || 'N'
                WHERE csCode = #{csCode};

            END
        }
    </update>

    <update id="updateOrder">
        <foreach collection="list" index="index" item="vo" separator=";" open="DECLARE BEGIN" close="; END;">
            UPDATE course_info SET ciIndex = #{vo.ciIndex} WHERE htId = #{vo.htId} AND csCode = #{csCode}
        </foreach>
    </update>

    <select id="getByMbti" resultType="CourseWithMbtiVO">
        select csCode, htId, ciIndex from course NATURAL JOIN course_info NATURAL JOIN users WHERE mbti = #{mbti}
    </select>
</mapper>