<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotpleMapper">

    <select id="readAddr" resultType="HotpleVO">
        SELECT * FROM hotple WHERE htAddr = #{str}
    </select>

    <insert id="insertBusn">
        INSERT INTO hotple (htId, busnNum, busnName, htAddr, htAddrDet, htZip, htCont, htTel, htImg, htLat, htLng, uCode, category)
        VALUES(seq_hot.NEXTVAL, #{busnNum}, #{busnName}, #{htAddr}, #{htAddrDet}, #{htZip}, #{htCont}, #{htTel},
        #{htImg}, #{htLat}, #{htLng}, #{uCode}, #{category})
    </insert>

    <insert id="insertBusnGo">
        UPDATE hotple SET busnNum = #{busnNum}, htAddrDet = #{htAddrDet}, htCont = #{htCont}, htImg = #{htCont},
        uCode = #{uCode}, category = #{category} WHERE htId = #{htId}
    </insert>
</mapper>