<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotpleMapper">

    <select id="readId" resultType="HotpleVO">
        SELECT * FROM hotple WHERE htId = #{htId}
    </select>

    <select id="readAddr" resultType="HotpleVO">
        SELECT * FROM hotple WHERE htAddr = #{str}
    </select>

    <select id="selectByManager" resultType="HotpleVO">
        SELECT htId, busnNum, goId, busnName, htAddr, htAddrDet, htZip, htCont, htTel, htImg, uploadPath, fileName, category
        FROM hotple h JOIN image_attach i ON h.htImg = i.uuid
        WHERE h.uCode = #{uCode}
    </select>

    <select id="getAllHotples" resultType="HotpleVO">
        SELECT htId, busnNum, goId, busnName, htAddr, htAddrDet, htZip, htCont, htTel, htImg, uploadPath, fileName, category
        FROM hotple h JOIN image_attach i ON h.htImg = i.uuid
        WHERE h.uCode IS NOT NULL
    </select>

    <select id="searchHotple" resultType="HotpleVO">
        <![CDATA[
        SELECT * FROM hotple h FULL OUTER JOIN image_attach i ON h.htImg = i.uuid
        WHERE (busnname LIKE '%' || #{keyword} || '%' OR htaddr LIKE '%' || #{keyword} || '%' OR htId IN (
            SELECT SUBSTR(meCode, 1, INSTR(meCode, '/', 1, 1) - 1)
            FROM menu
            WHERE mecate LIKE '%' || #{keyword} || '%' OR mename LIKE '%' || #{keyword} || '%' OR mehashtag LIKE '%' || #{keyword} || '%'))
        AND ((ACOS(SIN(35.8668621 * ACOS(-1) / 180) * SIN(htLat * ACOS(-1) / 180)
        + COS(35.8668621 * ACOS(-1) / 180) * COS(htLat * ACOS(-1) / 180)
        * COS((128.5902276 - htLng) * ACOS(-1) / 180)) * 180 / ACOS(-1)) * 60 * 1.1515) < 1
        ]]>
        <!-- 복현동 35.8992601, 128.6215081
             반월당 35.8668621, 128.5902276 -->
    </select>

    <select id="searchHotpleByGeo" resultType="HotpleVO">
        <![CDATA[
        SELECT * FROM hotple h FULL OUTER JOIN image_attach i ON h.htImg = i.uuid
        WHERE (busnname LIKE '%' || #{keyword} || '%' OR htaddr LIKE '%' || #{keyword} || '%' OR htId IN (
            SELECT SUBSTR(meCode, 1, INSTR(meCode, '/', 1, 1) - 1)
            FROM menu
            WHERE mecate LIKE '%' || #{keyword} || '%' OR mename LIKE '%' || #{keyword} || '%' OR mehashtag LIKE '%' || #{keyword} || '%'))
        AND ((ACOS(SIN(#{lat} * ACOS(-1) / 180) * SIN(htLat * ACOS(-1) / 180)
        + COS(#{lat} * ACOS(-1) / 180) * COS(htLat * ACOS(-1) / 180)
        * COS((#{lng} - htLng) * ACOS(-1) / 180)) * 180 / ACOS(-1)) * 60 * 1.1515) < 1
        ]]>
    </select>

    <select id="searchHotpleByGeoAndArea" resultType="HotpleVO">
        <![CDATA[
        SELECT * FROM hotple h FULL OUTER JOIN image_attach i ON h.htImg = i.uuid
        WHERE ((ACOS(SIN(#{lat} * ACOS(-1) / 180) * SIN(htLat * ACOS(-1) / 180)
        + COS(#{lat} * ACOS(-1) / 180) * COS(htLat * ACOS(-1) / 180)
        * COS((#{lng} - htLng) * ACOS(-1) / 180)) * 180 / ACOS(-1)) * 60 * 1.1515) < #{area}
        ]]>
    </select>

    <select id="readHotples" resultType="HotpleVO">
        SELECT * FROM hotple
        <foreach collection="htIds" open="WHERE htId IN (" close=")" index="index" item="htId" separator=",">
            #{htId}
        </foreach>
    </select>

    <insert id="insertBusn">
        INSERT INTO hotple (htId, busnNum, busnName, htAddr, htAddrDet, htZip, htCont, htTel, htImg, htLat, htLng, uCode, category)
        VALUES(seq_hot.NEXTVAL, #{busnNum}, #{busnName}, #{htAddr}, #{htAddrDet}, #{htZip}, #{htCont}, #{htTel},
        #{htImg}, #{htLat}, #{htLng}, #{uCode}, #{category})
    </insert>

    <insert id="insertBusnGo">
        UPDATE hotple SET busnNum = #{busnNum}, htAddrDet = #{htAddrDet}, htCont = #{htCont}, htImg = #{htCont},
        uCode = #{uCode}, category = #{category} WHERE htId = #{htId}
    </insert>

    <update id="updateWithImage">
        {
            CALL
                DECLARE
                BEGIN
                    UPDATE image_attach SET uuid = #{image.uuid}, uploadPath = #{image.uploadPath}, fileName = #{image.fileName}
                    WHERE uuid = #{hotple.htImg};

                    UPDATE hotple SET busnNum = #{hotple.busnNum}, busnName = #{hotple.busnName}, htAddr = #{hotple.htAddr},
                    htAddrDet = #{hotple.htAddrDet}, htZip = #{hotple.htZip}, htCont = #{hotple.htCont}, htTel = #{hotple.htTel},
                    htImg = #{image.uuid}, category = #{hotple.category}
                    WHERE htId = #{hotple.htId};
                END
        }
    </update>

    <update id="update">
        UPDATE hotple SET busnNum = #{busnNum}, busnName = #{busnName}, htAddr = #{htAddr},
        htAddrDet = #{htAddrDet}, htZip = #{htZip}, htCont = #{htCont}, htTel = #{htTel}, category = #{category},
        htLng = #{htLng}, htLat = #{htLat}
        WHERE htId = #{htId}
    </update>

    <delete id="delete">
        <if test="htImg != null">
            DELETE FROM image_attach WHERE uuid = #{htImg}
        </if>
        <if test="htImg == null">
            DELETE FROM hotple WHERE htId = #{htId}
        </if>
    </delete>
</mapper>