<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MenuMapper">
    <insert id="insert">
        INSERT INTO menu (meCode, meName, mePrice, meIntr
        <if test="meCate != null">
            , meCate
        </if>
        <if test="uuid != null">
            , uuid
        </if>
        )
        VALUES (#{meCode} || seq_menu.NEXTVAL || '/Y', #{meName}, #{mePrice}, #{meIntr}
        <if test="meCate != null">
            , #{meCate}
        </if>
        <if test="uuid != null">
            , #{uuid}
        </if>
        )
    </insert>
    
    <select id="selectList">
        select meCode, meName, mePrice, meIntr, meCate, i.uuid AS uuid, uploadPath, fileName
        FROM menu m JOIN image_attach i ON m.uuid = i.uuid
        WHERE SUBSTR(meCode, 1, INSTR(meCode, '/', 1, 1) - 1) = #{str};
    </select>

    <delete id="delete">
        DELETE FROM menu WHERE meCode = #{code}
    </delete>
</mapper>