<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReservationMapper">

    <select id="getCurList">
        <![CDATA[
        SELECT * FROM res_info WHERE htId = #{htId} AND riTime >= SYSTIMESTAMP
        ]]>
    </select>

    <select id="getHistoryList">
        <![CDATA[
        SELECT * FROM res_info WHERE htId = #{htId} AND riTime < SYSTIMESTAMP
        ]]>
    </select>

    <select id="getReservationByManager" resultType="ReservationAllVO">
        SELECT * FROM res_info NATURAL JOIN res_status NATURAL JOIN menu WHERE htId = (SELECT htId FROM hotple WHERE uCode = #{uCode})
    </select>

    <select id="getReservationByUser" resultType="ReservationAllVO">
        SELECT * FROM res_info NATURAL JOIN res_status NATURAL JOIN menu WHERE uCode = #{uCode}
    </select>

    <select id="getReservationHotple" resultType="ReservationHotpleVO">
        SELECT * FROM res_info r JOIN hotple h ON (r.htId = h.htId) FULL OUTER JOIN image_attach i ON (h.htImg = i.uuid)
        WHERE r.uCode = #{uCode}
    </select>

    <select id="getCurListAll" resultType="ReservationAllVO">
        <![CDATA[
        SELECT * FROM res_info NATURAL JOIN res_status NATURAL JOIN menu WHERE htId =
        (SELECT htId FROM hotple WHERE uCode = #{uCode}) AND riTime >= SYSTIMESTAMP ORDER BY riTime
        ]]>
    </select>

    <select id="getCurFive" resultType="ReservationInformationVO">
        <![CDATA[
        SELECT * FROM res_info NATURAL JOIN users WHERE htId = (SELECT htId FROM hotple WHERE uCode = #{uCode})
        AND riTime >= SYSTIMESTAMP AND ROWNUM <= 5
        ORDER BY riTime
        ]]>
    </select>

    <select id="getSales" resultType="ReservationAllVO">
        <![CDATA[
        SELECT * FROM res_info NATURAL JOIN res_status NATURAL JOIN menu WHERE res_info.htId =
        (SELECT htId FROM hotple WHERE uCode = #{uCode})
        AND riTime <= SYSTIMESTAMP AND riNoShow = 'N'
        ]]>
    </select>

    <select id="getDateSale" resultType="SaleVO">
        SELECT DATES, SUM(A) SUM
        FROM (
            SELECT SUBSTR(riCode, 0, 6) DATES, SUM(rsMeNum * mePrice) A
            FROM res_info NATURAL JOIN res_status NATURAL JOIN menu
            WHERE htId = (
                SELECT htId FROM hotple WHERE uCode = #{uCode}
            ) AND riNoShow = 'N'
            GROUP BY riCode)
        GROUP BY DATES
    </select>

    <select id="getByCode" resultType="ReservationInfoVO">
        SELECT * FROM res_info WHERE riCode = #{riCode}
    </select>

    <select id="getTotalFeeByRiCode" resultType="Long">
        SELECT SUM(rsMeNum * mePrice)
        FROM res_info NATURAL JOIN res_status NATURAL JOIN menu
        GROUP BY riCode HAVING riCode = #{riCode}
    </select>

    <insert id="insertRes">
        <selectKey keyProperty="riCode" resultType="String" order="BEFORE">
            SELECT TO_CHAR(SYSTIMESTAMP, 'RRMMDDHH24MISS/') || LPAD(seq_ri.NEXTVAL, 2, '0') FROM DUAL
        </selectKey>
        INSERT INTO res_info (riCode, riTime, riPerson, riOdNum, riCont, htId, uCode)
        VALUES (#{riCode}, #{riTime}, #{riPerson}, #{riOdNum}, #{riCont}, #{htId}, #{uCode})
    </insert>

    <insert id="insertResStatus">
        <foreach collection="vo" index="index" item="vo" open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO res_status (riCode, meCode, rsMeNum, uCode) VALUES (#{vo.riCode}, #{vo.meCode}, #{vo.rsMeNum}, #{vo.uCode})
        </foreach>
    </insert>

    <delete id="deleteRes">
        DELETE FROM res_info WHERE riCode = #{riCode}
    </delete>
</mapper>