<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReservationMapper">

    <select id="getCurList">
        <![CDATA[
        SELECT * FROM res_info WHERE htId = #{htId} AND riTime >= SYSTIMESTAMP
        ]]>
    </select>

    <select id="getHistoryList">
        <![CDATA[
        SELECT * FROM res_info WHERE htId = #{htId} AND riTime < SYSTIMESTAMP
        ]]>
    </select>

    <select id="getReservation" resultType="ReservationAllVO">
        SELECT * FROM res_info NATURAL JOIN res_status NATURAL JOIN menu WHERE res_info.htId = #{htId}
    </select>
</mapper>