<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReviewMapper">

    <select id="getList" resultType="ReviewVO">
        SELECT * FROM review WHERE riCode IN (SELECT riCode FROM res_info WHERE htId = #{htId})
    </select>

    <select id="getRatings" resultType="Integer">
        SELECT rvRating FROM review WHERE riCode IN
        (SELECT riCode FROM res_info WHERE htId =
        (SELECT htId FROM hotple WHERE uCode = #{uCode})
        )
    </select>


    <select id="getListByManager" resultType="ReviewVO">
        SELECT * FROM review WHERE riCode IN (SELECT riCode FROM res_info WHERE htId = (SELECT htId FROM hotple WHERE uCode = #{uCode}))
    </select>

    <select id="getListByUser" resultType="ReviewVO">
        SELECT * FROM review WHERE uCode = #{uCode}
    </select>


    <update id="insertReply">
        UPDATE review SET rvOwnCont = #{rvOwnCont, jdbcType=VARCHAR} WHERE riCode = #{riCode}
    </update>

    <select id="getCurrentFive" resultType="ReviewVO">
        <![CDATA[
        SELECT /*+ INDEX_DESC(review rv_ri_fk) */ * FROM review WHERE ROWNUM <= 5
        ]]>
    </select>

    <insert id="insertReview">
        INSERT INTO review (riCode, rvRating, rvCont, uCode)
        VALUES (#{riCode}, #{rvRating}, #{rvCont}, #{uCode})
    </insert>

    <update id="updateReview">
        UPDATE review SET rvCont = #{rvCont}, rvRating = #{rvRating} WHERE riCode = #{riCode}
    </update>
</mapper>