<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="read" resultType="UserVO">
        SELECT * FROM users WHERE uCode = #{code}
    </select>

    <select id="readByEmail" resultType="UserVO">
        SELECT * FROM users WHERE uCode LIKE #{email} || '%'
    </select>

    <insert id="insert">
        INSERT INTO users (uCode, pw, nick, birth, gender, phone
        <if test="!(profileImg == null or profileImg == '')">
            , profileImg
        </if>
        )
        VALUES (#{uCode}, #{pw}, #{nick}, #{birth}, #{gender}, #{phone}

        <if test="!(profileImg == null or profileImg == '')">
            , #{profileImg}
        </if>
        )
    </insert>

    <select id="readAdmin" resultType="AdminVO">
        SELECT * FROM admin WHERE uCode = #{code}
    </select>

    <select id="readManager" resultType="ManagerVO">
        SELECT u.uCode, pw, nick, birth, gender, phone, profileImg, point, mbti, regDate, mName, mAccount, mBank
        FROM users u JOIN manager m ON u.uCode = m.uCode WHERE m.uCode = #{code}
    </select>

    <select id="readPassword" resultType="String">
        SELECT pw FROM users WHERE uCode = #{code}
    </select>
    
    <insert id="insertManager">
        INSERT ALL
        INTO users (uCode, pw, nick, birth, gender, phone)
        VALUES (#{uCode}, #{pw}, #{nick}, #{birth}, #{gender}, #{phone})
        INTO manager (uCode, mName, mAccount, mBank)
        VALUES (#{uCode}, #{mName}, #{mAccount}, #{mBank})
        SELECT * FROM DUAL
    </insert>

    <update id="updateNick">
        UPDATE users SET nick = #{nick} WHERE uCode = #{uCode}
    </update>

    <update id="updateAccount">
        UPDATE manager SET mAccount = #{mAccount}, mBank = #{mBank} WHERE uCode = #{code}
    </update>

    <update id="updatePw">
        UPDATE users SET pw = #{pw} WHERE uCode = #{code}
    </update>

    <update id="updateMbti">
        UPDATE users SET mbti = #{mbti} WHERE uCode = #{uCode}
    </update>
</mapper>