<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
        .swiper-button-next, .swiper-button-prev {
            color: #9d9d9d;
        }

        section {
            border-bottom: #dbdbdb solid 1px;
        }

        .section-title-wrap {
            margin: 0 auto;
            width: 100%;
        }

        .section-title {
            color: #28be7f;
        }

        .top-img {
            height: 400px;
            padding: 100px;
        }

        .section-title-wrap {
            width: 80%
        }

        .section-title {
            text-align: left;
        }

        .main-title {
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        .restaurant-ul{
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
        }
        .fix {
            position:fixed;
            z-index: 1030;
            width:100%;

            animation: down 0.5s ease;

        }
        @keyframes down {
            0% {
                transform: translateY(-50px)
            }
            100% {
                transform: translateY(0px)
            }
        }

        @media(max-width:720px){
            .restaurant-ul{
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
            }
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="top-img"
         style="background-image: url('https://mp-seoul-image-production-s3.mangoplate.com/0776fea76b4a824ff583128cb51dd45c.jpg');">
        <div>
            <p class="main-title display-5">입맛에 맞게 인기장소 추천!</p>
            <h1 class="main-title display-2 font-weight-bold">핫플GO</h1>
        </div>
    </div>
    <section class="p-5 mx-3">
        <div class="section-title-wrap"><h2 class="section-title">주변 핫코스</h2></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-contents">
                        <figure class="figure mx-5">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                            <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="swiper-slide">
                    <figure class="figure mx-5 ">
                        <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                             class="figure-img img-fluid rounded fig">
                        <figcaption class="figure-caption text-right ">
                            <div class="info-wrap">
                                    <span>
                                        A caption for the above image.
                                    </span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="figure mx-5">
                        <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                             class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                    </figure>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    <section class="p-5 mx-3">
        <div class="section-title-wrap"><h2 class="section-title">주변 핫플</h2></div>
        <ul class="restaurant-ul">
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">김씨육면</span>
                                <strong class="point search_point ">4.0</strong>
                                <p class="etc">
                                    국수 / 면 요리
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point expected"></strong>
                                <p class="etc">
                                    기타 한식
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                    </a>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point "></strong>
                                <p class="etc">
                                    까스 요리
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point ">3.8</strong>
                                <p class="etc">
                                    기타 중식
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point expected"></strong>
                                <p class="etc">
                                    카페 / 디저트
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point expected"></strong>
                                <p class="etc">
                                    회 / 스시
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point ">4.1</strong>
                                <p class="etc">
                                    브런치 / 버거 / 샌드위치
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="restaurant-item">
                <div class="popular_restaurant_inner_wrap">
                    <figure class="restaurant-item">
                        <div class="thumb">
                            <img src="https://i.pinimg.com/236x/51/2c/0c/512c0ca0ab17de784240f3f1b1d681f6.jpg"
                                 class="figure-img img-fluid rounded">
                        </div>
                        <figcaption>
                            <div class="info">
                                <span class="title">식당명</span>
                                <strong class="point search_point ">3.7</strong>
                                <p class="etc">
                                    카페 / 디저트
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
        </ul>
    </section>
    <script>
        let mySwiper = new Swiper
        ('.swiper-container', {
            slidesPerView: '3',
            direction: 'horizontal',
            loop: true,
            pagination: {el: '.swiper-pagination',},
            navigation: {
                nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                720: {
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                },
                1: {
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                },
            }
        });
            $(window).scroll(function (){
               if($(window).scrollTop()>400){
                   $('.navbar').addClass('fix');
               }else
                   $('.navbar').removeClass('fix');
            });
    </script>
</div>
</html>