<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <script src="/css/user/board_write.js"></script>
    <link rel="stylesheet" href="/css/user/board.css">
    <link rel="stylesheet" href="/css/pagination.css">
</th:block>
<div layout:fragment="content">

    <nav class="navbar navbar-expand-sm navbar-light navbar-light d-flex">
        <h1 class="navbar-brand ml-5" href="/" style="font-size: 40px;font-weight: bold; color: darkslategray; text-shadow: 1px 1px 1.2px midnightblue;">커뮤니티</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon justify-content-end"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
<!--                <li class="nav-item"><a class="nav-link" href="/board/list?kind=B">게시판</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="">핫플</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="">코스</a></li>-->
            </ul>
            <div class="navbar-nav nav ml-auto">
                <form class="input-group input-group-sm" th:action="@{/board/list}" method="get" id="search_form" >
                    <select class="custom-select" name="type" id="select_form">
                        <option value="" th:selected="${pageMaker.cri.type eq null}">-</option>
                        <option value="T" th:selected="${pageMaker.cri.type eq 'T'}">제목</option>
                        <option value="C" th:selected="${pageMaker.cri.type eq 'C'}">내용</option>
                        <option value="W" th:selected="${pageMaker.cri.type eq 'W'}">작성자</option>
                        <option value="TC" th:selected="${pageMaker.cri.type eq 'TC'}">제목 + 내용</option>
                        <option value="TW" th:selected="${pageMaker.cri.type eq 'TW'}">제목 + 작성자</option>
                        <option value="CW" th:selected="${pageMaker.cri.type eq 'CW'}">내용 + 작성자</option>
                        <option value="TWC" th:selected="${pageMaker.cri.type eq 'TWC'}">제목 + 내용 + 작성자</option>
                    </select>
                    <input class="form-control" name="keyword" type="text" placeholder="검색" th:value="${pageMaker.cri.keyword}">
                    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                </form>
            </div>
        </div>
        <button class="wonyong-btn w-btn-blue ml-3" type="button" onclick="location.href='/board/write'">글쓰기</button>
    </nav>
    <div class="col-9 mx-auto">
        <th:block th:each="vo : ${result}">
            <article class="text-center row px-0 mx-0 mb-3">
                <input type="hidden" th:value="${#strings.replace(vo.bdCode, '/', '')}">
                <div class="container col-9 px-0 py-2">
                    <div class="col-sm-12 d-flex flex-column">

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <span style="float:left;" class="mr-2">
                                <img src="/images/no_image.png" class="img-thumbnail" style="height: 100px; width:100px;">
                                <img src="/images/no_image.png" class="img-origin">
                                <input type="hidden" th:value="${vo.bdCont}" />
                            </span>
                            <div class="col" style="display:inline;">
                                <span>
                                    <button class="bg-info border border-dark rounded text-dark px-1"
                                              style="height:23px; width:58px;" href="" th:text="${kind}">핫플</button></span>
                                <span class="text-dark col-12"
                                      style="display: block; margin-left:-60px; margin-top:15px; text-decoration: none;" th:text="${vo.bdTitle}"></span>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="col-4" style="float:right; margin-top:-80px; margin-right:60px;">
                        <ul class="navbar navbar nav mr-auto p-0" style="display: flex;">
                            <li><i class="far fa-comment-dots" th:text="${vo.commCnt}"></i></li>
                            <li><i class="fa fa-thumbs-o-up" th:text="${vo.bdRecy}"></i></li>
                            <li><i class="fa fa-thumbs-o-down" th:text="${vo.bdRecn}"></i></li>
                            <li><i class="fa fa-eye" th:text="${vo.bdRdCount}"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 d-flex flex-column px-0">
                    <div class="container">
                        <div class="mx-auto" style="margin-top:5px;">
                            <a class="text-dark" style="text-decoration: none;" href="">
                                <span><i class="fa fa-user-circle mr-2" th:text="${vo.nick}"></i></span>
                            </a>
                        </div>
                    </div>
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                          style="margin-left:20px; margin-top:40px;" th:title="${#hotpleAPI.beforeTime(vo.bdCode)}">
                        <button class="btn" style="pointer-events: none; vertical-align: inherit;"  type="button"
                                th:text="${#hotpleAPI.beforeBigTime(vo.bdCode)}">
                        </button>
                    </span>
                </div>
            </article>
        </th:block>
    </div>

    <div class="pagination-wrapper">
        <div class="pagination-custom">
            <th:block th:if="${pageMaker.prev}">
                <a th:href="@{'/board/list?pageNum=' + ${pageMaker.startPage - 1}}" class="prev page-numbers">이전</a>
            </th:block>
            <th:block th:if="${!pageMaker.prev}">
                <span aria-current="page" class="prev page-numbers">이전</span>
            </th:block>

            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                <a th:href="@{'/board/list?pageNum=' + ${num}}" th:text="${num}"
                   th:class="|page-numbers ${pageMaker.cri.pageNum == num ? 'current' : ''}|"></a>
            </th:block>

            <th:block th:if="${pageMaker.next}">
                <li class="page-item next">
                    <a th:href="@{'/board/list?pageNum=' + ${pageMaker.endPage + 1}}" class="next page-numbers">다음</a>
                </li>
            </th:block>
            <th:block th:if="${!pageMaker.next}">
                <span aria-current="page" class="next page-numbers">다음</span>
            </th:block>
        </div>
    </div>
</div>
</html>
