<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <script src="/css/user/board_write.js"></script>
    <link rel="stylesheet" href="/css/user/board_write.css">
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</th:block>
<div layout:fragment="content">
    <div class="board_wrap">
        <form action="/board/write" method="post">
            <input type="hidden" th:value="${board == null ? '' : board.bdCode}" id="bdCode" />
            <div class="board_title">
                <strong>게시판 글쓰기</strong>
            </div>
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">제목</span>
                            <input type="text" id="bdTitle" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="제목을 입력해주세요" th:value="${board == null ? '' : board.bdTitle}">
                        </div>
                        <div class="input-group input-group-lg">
                            <input type="hidden" id="uCode" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" th:value="${board == null ? '' : board.UCode}">
                        </div>
                    </div>

                    <div class="input-group" style="left: 15px; width: 35%;">
                        <div class="custom-file">
                            <input type="file" id="me-picture" class="custom-file-input">
                            <label class="custom-file-label" for="me-picture" data-browse="이미지">업로드 할 이미지
                                선택하십시오.</label>
                        </div>

                    </div>
                    <br>
                    <div class="form-floating">
                        <label for="bdCont">내용</label>
                        <textarea class="form-control" placeholder="내용을 입력해주세요" id="bdCont" name="editor"
                                  style="height: 300px" th:text="${board == null ? '' : board.bdCont}"></textarea>
                        <script>
                            const ckeditor_config = {
                                removePlugins : 'resize',
                                language: 'ko',
                                height: 400,
                                filebrowserImageUploadUrl: "/board/rest/upload"
                            };
                            CKEDITOR.replace("editor", ckeditor_config);
                            CKEDITOR.instances.content.setData($('#bdCont').val());
                        </script>
                    </div>

                    <div class="col-sm-3 text-center" style="margin-left: 80%; margin-top: 10px; display: flex">
                        <button type="button" class="btn btn-primary btn-sm" th:id="${board != null ? 'btn-update' : 'btn-save'}" th:text="${board != null ? '수정' : '등록'}">등록</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/board/list'">
                            취소
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>