<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="user/layout::head ('Login')"></head>
<th:block layout:fragment="styles">
  <script src="/css/user/user_userSetting.js"></script>
</th:block>
<body class="bg-gradient-primary">

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image" onclick="location.href='/'"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <input type="hidden" id="uCode" th:value="${uCode}">
                <div class="form-group">
                  <input type="password" class="form-control form-control-user" id="newPw" aria-describedby="emailHelp" placeholder="새로운 비밀번호를 입력해주세요">
                </div>
                <div class="form-group d-flex">
                  <input type="password" class="form-control form-control-user" id="checkNewPw" placeholder="비밀번호를 다시 입력해주세요">
                </div>
                <div class="form-group">
                  <button type="button" id="goLogin" class="ml-0 wonyong-btn w-btn-blue btn-user btn-block">
                    로그인 하러 가기
                  </button>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>


</html>