<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="/css/user/commentWon.js"></script>
<link rel="stylesheet" href="/css/user/board_cmmt.css/">

<th:block sec:authorize-expr="isAuthenticated()">
    <div class="my-2">
        <div class="border border-dark write_comment_top mx-3 text-left cmmt-box">
            <div class="ml-3 write_comment_member cmmt-nick" th:text="${#authentication.getName()}"></div>
            <div class=" write_comment_middle cmmt-text-edit">
                <div id="comCont" class="px-3" contentEditable="true"></div>
                <input type="hidden" id="bdCode"/>
                <input type="hidden" id="uCode"/>
            </div>
        </div>
        <div class="border border-dark border-top-0 mx-3">
            <div class="w-100 d-flex">
                <div class="custom-file w-75">
                    <input type="file" class="custom-file-input" id="comment_image">
                    <label class="custom-file-label" for="comment_image"><i class="fa fa-upload mr-2"></i>이미지 삽입</label>
                </div>
                <button id="comment_input" class="btn btn-info w-25" style="margin: 0px; height: 38px">작성하기</button>
            </div>
        </div>
    </div>
</th:block>

<div id="start_com">
    <div th:each="comm : ${commentList.keySet()}">
        <div class="row container p-3 comments " style="margin: 0 auto;">
            <!-- 입력된 댓글 상자 시작 -->
            <div class="col mr-auto d-flex flex-column text-left border">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <a class="text-dark" style="text-decoration: none;"
                           href="mainBoard.do?kind=all&target=writer&search=${ `joinMemCom.com_mem_nickname` }">
                            <span class="mr-2"><i class="fa fa-user-circle mr-2" th:text="${comm.nick}"></i></span>
                        </a>
                        <span tabindex="0" data-toggle="tooltip" th:title="${#hotpleAPI.beforeTime(comm.comCode)}">
                            <button class="btn" style="pointer-events: none; vertical-align: inherit;" type="button"
                                    th:text="${#hotpleAPI.beforeBigTime(comm.comCode)}">
                            </button>
                        </span>
                        <span class="btn btn-report">신고</span>
                    </div>
                    <div class="next-to-cmmt-nick">
                        <th:block sec:authorize-expr="isAuthenticated()">
                            <th:block th:if="${#authentication.getName().equals(comm.UCode.split('/')[0])}">
                                <div class="writer-visible-box">
                                    <span class="btn btn-modify">수정</span> <!-- 댓글 수정 -->
                                    <span class="btn comment-delete">삭제</span>
                                    <input type="hidden" th:value="${comm.comCode}"/>
                                    <!-- 댓글 삭제 (위 수정과 삭제는 본인이 아닐 시 숨기거나 거부하는 alert) -->
                                </div>
                            </th:block>
                        </th:block>

                        <th:block sec:authorize-expr="isAuthenticated()">
                            <th:block th:switch="${commReco.get(comm.comCode)}">
                                <th:block th:case="null">
                                    <span class="comReco"><i class="btn fa fa-thumbs-o-up mx-2 comReco_n"
                                                             th:text="${comm.comRecy}"></i></span>
                                    <span class="nonComReco"><i class="btn fa fa-thumbs-o-down mx-2 nonComReco_n"
                                                                th:text="${comm.comRecn}"></i></span>
                                </th:block>
                                <th:block th:case="'Y'">
                                    <span class="comReco"><i class="btn fa fa-thumbs-o-up mx-2 comReco_y"
                                                             th:text="${comm.comRecy}"></i></span>
                                    <span class="nonComReco"><i class="btn fa fa-thumbs-o-down mx-2 nonComReco_n"
                                                                th:text="${comm.comRecn}"></i></span>
                                </th:block>
                                <th:block th:case="'N'">
                                    <span class="comReco"><i class="btn fa fa-thumbs-o-up mx-2 comReco_n"
                                                             th:text="${comm.comRecy}"></i></span>
                                    <span class="nonComReco"><i class="btn fa fa-thumbs-o-down mx-2 nonComReco_y"
                                                                th:text="${comm.comRecn}"></i></span>
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block sec:authorize-expr="!isAuthenticated()">
                            <span><i class="btn fa fa-thumbs-o-up mx-2 go_login" th:text="${comm.comRecy}"></i></span>
                            <span><i class="btn fa fa-thumbs-o-down mx-2 go_login" th:text="${comm.comRecn}"></i></span>
                        </th:block>
                        <input type="hidden" th:value="${comm.comCode}"/>
                    </div>
                </div>


                <div class="container my-2 writen_comment">
                    <div th:utext="${comm.comCont}">댓글 내용</div>
                </div>
                <div class="mt-2">
                    <button class="open-replies btn btn-dark" data-toggle="collapse"
                            th:data-target="'#' +|collapse*{comm.comCode.replaceAll('/', '')}|">답글보기
                    </button>
                    <th:block sec:authorize-expr="isAuthenticated()">
                        <button class="write_reply btn btn-dark">답글쓰기</button>
                    </th:block>
                    <th:block sec:authorize-expr="!isAuthenticated()">
                        <button class="go_login btn btn-dark">답글쓰기</button>
                    </th:block>
                    <input type="hidden" class="comCode1" th:value="${comm.comCode}"/>
                    <input type="hidden" id="comCode" th:value="${comm.comCode.replaceAll('/', '')}"/>
                    <input type="hidden" th:value="${comm.UCode}"/>
                    <input type="hidden" style="text-align: left" name="nickname"/>

                </div>
            </div>
            <!-- 입력된 댓글 상자 끝-->
        </div>
        <!-- 리댓 상자 시작 -->
        <div th:id="|collapse*{comm.comCode.replaceAll('/', '')}|" class="panel-collapse collapse in" role="tabpanel"
             aria-labelledby="headingOne"> <!-- id에 각 댓글 구분할 값 추가 -->
            <th:block th:each="reply : ${commentList.get(comm)}">
                <div class="row container p-3 comments replies">
                    <div class="col mr-auto d-flex flex-column text-left border reply-box">
                        <div class="d-flex justify-content-between">
                            <div class="">
                                <a class="text-dark" style="text-decoration: none;"
                                   href="mainBoard.do?kind=all&target=writer&search=${ `joinMemCom.com_mem_nickname` }">
                                    <span class="mr-2"><i class="fa fa-user-circle mr-2"
                                                          th:text="${reply.nick}"></i></span>
                                </a>
                                <span tabindex="0" data-toggle="tooltip"
                                      th:title="${#hotpleAPI.beforeTime(reply.comCode)}">
                                    <button class="btn" style="pointer-events: none; vertical-align: inherit;"
                                            type="button" th:text="${#hotpleAPI.beforeBigTime(reply.comCode)}">
                                    </button>
                                </span>
                                <span class="btn btn-report">신고</span>
                            </div>
                            <div class="next-to-cmmt-nick">
                                <th:block th:if="${#authentication.getName().equals(reply.UCode.split('/')[0])}">

                                    <span class="btn btn-modify">수정</span> <!-- 댓글 수정 -->
                                    <span class="btn comment-delete">삭제</span>
                                    <input type="hidden" th:value="${reply.comCode}"/>

                                </th:block>
                                <th:block sec:authorize-expr="isAuthenticated()">
                                    <th:block th:switch="${commReco.get(reply.comCode)}">
                                        <th:block th:case="null">
                                            <span class="comReco"><i class="btn fa fa-thumbs-o-up mx-2 comReco_n"
                                                                     th:text="${reply.comRecy}"></i></span>
                                            <span class="nonComReco"><i
                                                    class="btn fa fa-thumbs-o-down mx-2 nonComReco_n"
                                                    th:text="${reply.comRecn}"></i></span>
                                        </th:block>
                                        <th:block th:case="'Y'">
                                            <span class="comReco"><i class="btn fa fa-thumbs-o-up mx-2 comReco_y"
                                                                     th:text="${reply.comRecy}"></i></span>
                                            <span class="nonComReco"><i
                                                    class="btn fa fa-thumbs-o-down mx-2 nonComReco_n"
                                                    th:text="${reply.comRecn}"></i></span>
                                        </th:block>
                                        <th:block th:case="'N'">
                                            <span class="comReco"><i class="btn fa fa-thumbs-o-up mx-2 comReco_n"
                                                                     th:text="${reply.comRecy}"></i></span>
                                            <span class="nonComReco"><i
                                                    class="btn fa fa-thumbs-o-down mx-2 nonComReco_y"
                                                    th:text="${reply.comRecn}"></i></span>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <th:block sec:authorize-expr="!isAuthenticated()">
                                    <span><i class="btn fa fa-thumbs-o-up mx-2 go_login" th:text="${reply.comRecy}"></i></span>
                                    <span><i class="btn fa fa-thumbs-o-down mx-2 go_login"
                                             th:text="${reply.comRecn}"></i></span>
                                </th:block>
                                <input type="hidden" th:value="${reply.comCode}"/>
                            </div>
                        </div>
                        <div class="container my-2 writen_comment">
                            <div th:utext="${reply.comCont}">댓글 내용</div>
                        </div>
                        <div class="mt-2">
                            <button class="write_re_reply btn btn-dark">답글쓰기</button>
                            <input type="hidden" th:value="${comm.comCode}" />
                        </div>
                    </div>
                    <!------------------------------------------------------->
                </div>
            </th:block>
        </div>
        <!-- 리댓 상자 끝 -->
    </div>


</div>
</html>