<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles"></th:block>
<div layout:fragment="content">
    <div class="logo__image" >
        <img src="images/logo.jpg" alt="LOGO" >
    </div>
    <div class="download bg-primary">
        <p class="down_load">모바일 앱 다운로드</p>
        <button class="wonyong-btn w-btn-gra2">Android</button>
    </div>
    <div class="info__project">
        <p class="a">01 <br> 나의 취향과 성격에 딱 맞는 코스 </p>
        <p class="b">취향 선택과 성격 분석을 통하여 하나뿐인 코스를 추천</p>
        <img src="images/p01.JPG" alt="p01" >

        <p class="a">02 <br> 인기 있었던 코스만을 골라서 </p>
        <p class="b">지정한 위치 주변의 월간, 주간 핫코스를 조회 </p>
        <img src="images/p02.JPG" alt="p02" >

        <p class="a">03 <br> 가고 싶은 장소 미리 예약 </p>
        <p class="b">웨이팅이 걱정될 때는 방문 전 예약하고 결제한 후 방문</p>
        <img src="images/p03.JPG" alt="p03" >

    </div>
</div>
</html>