<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">

    <script src="/css/user/user_userSetting.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/slicebox/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slicebox/css/slicebox.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slicebox/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/card_class.css"/>
    <script type="text/javascript" src="/css/slicebox/js/modernizr.custom.46884.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <style>
        div > img {
            width: 350px;
        }

        .time > span {
            font-size: 10px;
        }

        div > img {
            width: 240px;
        }
        .course-container{
            display: flex;
        }
        @media (max-width:960px) {
            .course-container{
                flex-direction: column;
            }
        }
        .container {
            display: flex;
            max-width: 100%;
        }

        .jumbotron {
            padding: 3px;
            margin-top: 30px;
        }

        .time {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 0 0 auto;

        }


        .tab-content {
            min-height: 600px;
        }

        @media (max-width: 650px) {
            img {
                width: 100px;
                height: 100px;
            }



            h3 {
                font-size: 15px;
            }

            h5 {
                font-size: 10px;
            }


            .time > span {
                font-size: 8px;
            }
        }

        article:hover {
            cursor: pointer;
        }

        b:hover{
            cursor: pointer;
        }
    </style>
</th:block>
<div layout:fragment="content" style="background: #161623">
    <div role="tabpanel">
        <div style="margin-top: 15px;"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item">
                <a href="#hotple-course" class="nav-link active" aria-controls="hotple-course" role="tab"
                   data-toggle="tab" onclick="mySwiper.update();">핫코스</a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#hotple" class="nav-link " aria-controls="hotple" role="tab" data-toggle="tab">핫플</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane " id="hotple">
                <!-- 찜핫플 수만큼 반복 시작-->
                <div th:each="vo : ${result}">
                    <article>
                        <input type="hidden" id="htId" class="htId" th:value="${vo.htId}">
                        <div class="jumbotron mx-4">
                            <div class="container">
                                <img src="/images/clip.jpg" alt="메뉴 이미지를 추가해주세요." class="img-fluid"><!-- 디폴트 사진 -->
                                <div style="margin-left:30px; ">
                                    <p>
                                    <h3 th:text="${vo.busnName}"></h3></p>
                                    <p th:text="${vo.htAddr}"></p>
                                </div>
                                <div class="time">
                                    <span th:text="'찜한 날짜 : ' + ${#hotpleAPI.timestampToStr(vo.pickTime)}"></span>
                                    <button type="button" class="w-btn-green wonyong-btn my-1 hotple-share">공유하기</button>
                                    <button type="button" class="w-btn-red wonyong-btn my-1 loat-right pickDelete">삭제하기</button>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- 찜핫플 수만큼 반복 시작-->
            </div>
            <div role="tabpanel" class="tab-pane active" id="hotple-course">
                <!-- 찜코스 수만큼 반복 시작-->

                <div th:each="course : ${result1}" class="my-5 course-container">
                    <div class="slide-wrapper">
                        <ul th:id="${'sb-slider'+courseStat.index}" class="sb-slider">
                            <li th:each="courseInfo : ${courseInfos.get(course.csCode)}">
                                <img th:src="${#hotpleAPI.toImg(courseInfo.uploadPath, courseInfo.uuid, courseInfo.fileName, #hotpleAPI.IMAGE)}"
                                     alt="메뉴 이미지를 추가해주세요." class="img-fluid">
                                <div class="sb-description">
                                    <h3 th:text="${courseInfo.busnName}">가게명</h3>
                                    <h4 th:text="${courseInfo.htAddr}"></h4>
                                </div>
                            </li>
                        </ul>
                        <div th:id="${'shadow'+courseStat.index}" class="shadow"></div>
                        <div th:id="${'nav-arrows'+courseStat.index}" class="nav-arrows">
                            <a href="#">Next</a>
                            <a href="#">Previous</a>
                        </div>
                        <div th:id="${'nav-dots'+courseStat.index}" class="nav-dots">
                            <span class="nav-dot-current">1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                        </div>
                    </div><!-- /wrapper -->
                    <div class="card_class">
                        <h2 th:text="${course.csTitle}"></h2>
                        <div class="card_content">
                            <p th:text="'찜한 날짜 : ' + ${#hotpleAPI.timestampToStr(course.pickTime)}"></p>
                            <p th:text="|함께할 사람 : *{course.csWith}|">함께할 사람 : 친구</p>
                            <p th:text="|인원 : *{course.csNum}|">인원 : 2명</p>
                            <button type="button" class="w-btn-green wonyong-btn my-1 course-share">공유하기</button>
                            <input type="hidden" id="csCode" th:value="${course.csCode}">
                            <input type="hidden" id="csCode1" name="csCode1" th:value="${course.csCode.replaceAll('/', '')}">
                            <button type="button" class="w-btn-red wonyong-btn my-1 pickCourseDelete" >삭제하기
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 찜코스 수만큼 반복 끝-->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/css/slicebox/js/jquery.slicebox.js"></script>
    <script type="text/javascript">
        $(function () {
            for (let i = 0; i < 3; i++) {
                var Page = (function () {
                    var $navArrows = $('#nav-arrows' + i).hide(),
                        $shadow = $('#shadow' + i).hide(),
                        $navDots = $('#nav-dots' + i).hide(),
                        $nav = $navDots.children('span'),
                        slicebox = $('#sb-slider' + i).slicebox({
                            onReady: function () {
                                $navArrows.show();
                                $navDots.show();
                                $shadow.show();
                            },
                            onBeforeChange: function (pos) {
                                $nav.removeClass('nav-dot-current');
                                $nav.eq(pos).addClass('nav-dot-current');
                            },
                            orientation: 'r',
                            cuboidsRandom: true,
                            disperseFactor: 30
                        }),

                        init = function () {
                            initEvents();
                        },
                        initEvents = function () {

                            // add navigation events
                            $navArrows.children(':first').on('click', function () {

                                slicebox.next();
                                return false;

                            });

                            $navArrows.children(':last').on('click', function () {

                                slicebox.previous();
                                return false;

                            });
                            $nav.each(function (i) {

                                $(this).on('click', function (event) {

                                    var $dot = $(this);

                                    if (!slicebox.isActive()) {

                                        $nav.removeClass('nav-dot-current');
                                        $dot.addClass('nav-dot-current');

                                    }
                                    slicebox.jump(i + 1);
                                    return false;
                                });
                            });
                        };
                    return {init: init};
                })();
                Page.init();
            }
        });
    </script>
    <script type="text/javascript" src="/css/slicebox/js/vanilla-tilt/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll('.card_class'), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1
        })
    </script>
</div>
</html>



