<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="user/layout::head (HOTPLEGO)">
</head>
<body>
<div class="container-fluid p-0">
    <div th:replace="user/layout::nav"></div>
    <div layout:fragment="content">
        <div class="container">
            <div class="jumbotron">
                <img src="/images/clip.jpg" alt="메뉴 이미지를 추가해주세요." class="img-fluid"><!-- 디폴트 사진 -->
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <img src="/images/clip.jpg" alt="메뉴 이미지를 추가해주세요." class="img-fluid"><!-- 디폴트 사진 -->
            </div>
        </div>

    </div>
</div>
<div th:replace="user/layout::footer"></div>
</body>
</html>