<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head (title)">
    <title th:text="${title}">제목</title>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- jQuery -->
    <script src="/css/vendor/jq/jquery.min.js"></script>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/css/vendor/jq/bootstrap-datetimepicker.full.min.js"></script>

    <!-- CSS -->
    <style>
        @import "/css/user/styles.css";
    </style>

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <th:block layout:fragment="styles"></th:block>
</head>
<body>
<div class="top-div" th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light navbar-light fixed-top nav-tabs d-flex" style="background: linear-gradient(to right, rgb(194, 229, 156), rgb(100, 179, 244));">
        <a class="navbar-brand" href="/">
            <img src="images/logo.jpg" class="logo-design" alt="LOGO"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <form class="form-inline col">
                <div class="input-group mx-auto col">
                    <input class="form-control" type="search" placeholder="핫플 검색">
                    <div class="input-group-append">
                        <button class="btn btn-success form-control m-0" type="submit">
                            <i class="fa fa-search mr-3"></i>Search
                        </button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">주변 핫플 보기</a></li>
                <li class="nav-item"><a class="nav-link" href="#">예약 보기</a></li>
                <li class="nav-item"><a class="nav-link" href="/myCource">마이 코스</a></li>
                <li class="nav-item"><a class="nav-link" href="/boards">게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
            </ul>
        </div>
    </nav>
    <script>
        var lat;
        var long;
        function getLocation() {
            if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function(position) {
                    lat = position.coords.latitude;
                    long = position.coords.longitude;
                }, function(error) {
                    console.error(error);
                }, {
                    enableHighAccuracy: false,
                    maximumAge: 0,
                    timeout: Infinity
                });
            } else {
                alert('GPS를 지원하지 않습니다');
            }
        }
        getLocation();
    </script>
</div>

<th:block th:fragment="footer">
    <div class="footer">
        <div class="d-flex justify-content-between mx-auto col-lg-6 col-md-8 col-sm-12 pt-3">
            <a href="" class="btn btn-dark text-light">회사소개</a>
            <a href="" class="btn btn-dark text-light">이용약관</a>
            <a href="" class="btn btn-dark text-light">개인정보처리방침</a>
            <a href="/alliance" class="btn btn-dark text-light">제휴문의</a>
        </div>
        <div class="info__office">
            <p class= "c__T">Make Wda Greate Again <br></p>
            <p> 조원용 강을찬 김경한 김진환 박호용 이승환 이주영 <br>
                소속: 영진전문대학교 컴퓨터정보계열 3WDA <br>
                대표 전화: 053-940-5114 <br>
                제휴/문의: support@hotplego.co.kr <br>
                대구광역시 북구 복현로 35
            </p>
        </div>
    </div>
</th:block>
</body>
</html>