<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <script src="/css/user/user_makeCourse.js"></script>
</th:block>
<div layout:fragment="content">
    <div th:replace="user/courseNav :: course"></div>
    <div class="container">
        <button class=" my-3 btn-info w-btn-pink wonyong-btn" type=" button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="true">
            위치 설정
        </button>
        <span></span>
        <div id="collapseMap">
            <div id="map_div"></div>
            <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxcd9bdd0942b542fd8c7be931fc11a3b4"></script>
            <script>
                let map;
                let marker;
                let setLat = 35.8965596164997;
                let setLng = 128.6202049255375;
                $(function() {
                    map = new Tmapv2.Map("map_div", {
                        center: new Tmapv2.LatLng(setLat,setLng),
                        width: "100%",
                        height: "400px"
                    });

                    map.addListener("drag", onDrag); // 지도 드래그시, 이벤트 리스너 등록.
                    myGeo();

                    $('#collapseMap').addClass('collapse');
                });

                function onDrag() {
                    marker.setMap(null);
                    marker = new Tmapv2.Marker({
                        position : new Tmapv2.LatLng(map.getCenter().lat(), map.getCenter().lng()),
                        map : map
                    });
                }

                function myGeo() {
                    setLat = map.getCenter().lat();
                    setLng = map.getCenter().lng();
                    if (marker !== undefined) marker.setMap(null);
                    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(
                            function(position) {
                                let lat = position.coords.latitude;
                                let lon = position.coords.longitude;

                                marker = new Tmapv2.Marker({
                                    position : new Tmapv2.LatLng(lat,lon),
                                    map : map
                                });

                                map.setCenter(new Tmapv2.LatLng(lat,lon));
                                map.setZoom(15);
                            });
                    }
                }

                function setGeo() {
                    $('#collapseMap').collapse('hide');
                    setLat = map.getCenter().lat();
                    setLng = map.getCenter().lng();
                }
            </script>
            <div class="d-flex justify-content-around">
                <button class="w-btn-blue wonyong-btn btn-primary" type="button" onclick="myGeo()">내 위치 보기</button>
                <button class="w-btn-blue wonyong-btn btn-primary" type="button" onclick="setGeo()">현위치로 설정</button>
            </div>
        </div>
        <div class="d-flex flex-column my-5">
            <a href="#" class="btn btn-primary mx-auto disabled btn-lg rounded-pill">가격 설정</a>
            <div class="form-group">
                <label class="my-3">단위 : 만원</label>
                <input type="range" class="custom-range" min="1" max="10" step="1" id="priceSet">
                <div class="d-flex justify-content-between">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>∞</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column my-5">
            <a href="#" class="btn btn-primary mx-auto disabled btn-lg rounded-pill">반경 설정</a>
            <div class="form-group">
                <label class="my-3">단위 : km</label>
                <input type="range" class="custom-range" min="1" max="11" step="2" id="area">
                <div class="d-flex justify-content-between">
                    <span>1</span>
                    <span>3</span>
                    <span>5</span>
                    <span>7</span>
                    <span>9</span>
                    <span>12</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div class="form-group">
                <select class="form-control">
                    <option selected>검색 순위 지정</option>
                    <option value="별점순">별점순</option>
                    <option value="거리순">거리순</option>
                </select></div>
            <div class="form-group d-flex">
                <select class="form-control course-with">
                    <option selected>함께하는 사람</option>
                    <option value="커플">커플</option>
                    <option value="친구">친구</option>
                    <option value="가족">가족</option>
                    <option value="혼자">혼자</option>
                </select>
                <select class="ml-4 form-control course-num">
                    <option selected>함께하는 인원</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div>코스 순서 지정(최대 9개 까지 가능)</div>
        <div class="row my-5">
            <div class="d-flex flex-column course-index">
                <i class="fa fa-cutlery fa-5x"></i>
                <div class="form-group my-3">
                    <select class="form-control course-kind">
                        <option value="0" selected>먹거리</option>
                        <option value="1">디저트</option>
                        <option value="2">놀이/취미</option>
                        <option value="3">음주</option>
                        <option value="4">보기</option>
                        <option value="5">걷기</option>
                    </select>
                </div>
            </div>
            <i class="fa fa-arrow-circle-right fa-5x my-auto mx-5" aria-hidden="true"></i>
            <i class="fa fa-plus-square fa-5x my-auto mx-5 plus-course" aria-hidden="true"></i>
        </div>
        <div>
            <button class="w-btn-brown wonyong-btn my-3" id="recommend">추천 받기</button>
            <form action="/python/ai_course" method="post" id="form" style="visibility: hidden">
                <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" />
                <input type="hidden" name="lat">
                <input type="hidden" name="lng">
                <input type="hidden" name="area">
                <input type="hidden" name="index">
                <input type="hidden" name="with">
                <input type="hidden" name="withNum">
            </form>
        </div>
    </div>
</div>
</html>