<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/user/user_mbti.css">
    <script src="/css/user/user_mbti.js"></script>
    <script th:inline="javascript">
        let mbti = [[${mbti}]];
    </script>
</th:block>
<div layout:fragment="content">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-3 col-6">
                <div class="p-3 ISTJ mbti text-muted font-weight-bold">
                    <p>ISTJ</p>
                    <p>세상의 소금형</p>
                    한번 시작한 일은<br>
                    끝까지 해네는<br>
                    사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ISFJ mbti text-muted font-weight-bold">
                    <p>ISFJ</p>
                    <p>임금 뒤편의 권력형</p>
                    성실하고 온화하며<br>
                    협조를 잘하는<br>
                    사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 INFJ mbti text-muted font-weight-bold">
                    <p>INFJ</p>
                    <p>예언자형</p>
                    사람과 관련된<br>
                    뛰어난 통찰력을<br>
                    가지고 있는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 INTJ mbti text-muted font-weight-bold">
                    <p>INTJ</p>
                    <p>과학자형</p>
                    전체적인 부분을<br>
                    조합하여 비전을<br>
                    제시하는 사람들
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-3 col-6">
                <div class="p-3 ISTP mbti text-muted font-weight-bold">
                    <p>ISTP</p>
                    <p>백과사전형</p>
                    논리적이고 뛰어난<br>
                    상황 적응혁을<br>
                    가지고 있는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ISFP mbti text-muted font-weight-bold">
                    <p>ISFP</p>
                    <p>성인군자형</p>
                    따뜻한 감성을<br>
                    가지고 있는<br>
                    겸손한 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 INFP mbti text-muted font-weight-bold">
                    <p>INFP</p>
                    <p>잔다르크형</p>
                    이상적인 세상을<br>
                    만들어 가는<br>
                    사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 INTP mbti text-muted font-weight-bold">
                    <p>INTP</p>
                    <p>아이디어 뱅크형</p>
                    비평적인 관점을<br>
                    가지고 있는<br>
                    뛰어난 전략가들
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-3 col-6">
                <div class="p-3 ESTP mbti text-muted font-weight-bold">
                    <p>ESTP</p>
                    <p>수완좋은 활동가형</p>
                    친구, 운동, 음식 등<br>
                    다양한 활동을<br>
                    선호하는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ESFP mbti text-muted font-weight-bold">
                    <p>ESFP</p>
                    <p>사교적인 유형</p>
                    분위기를<br>
                    고조시키는<br>
                    우호적인 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ENFP mbti text-muted font-weight-bold">
                    <p>ENFP</p>
                    <p>스파크형</p>
                    열정적으로<br>
                    새로운 관계를<br>
                    만드는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ENTP mbti text-muted font-weight-bold">
                    <p>ENTP</p>
                    <p>발명가형</p>
                    풍부한 상상력을<br>
                    가지고 새로운 것에<br>
                    도전하는 사람들
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-3 col-6">
                <div class="p-3 ESTJ mbti text-muted font-weight-bold">
                    <p>ESTJ</p>
                    <p>사업가형</p>
                    사무적, 실용적<br>
                    현실적으로<br>
                    일을 많이하는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ESFJ mbti text-muted font-weight-bold">
                    <p>ESFJ</p>
                    <p>친선도모형</p>
                    친절과 현실감을<br>
                    바탕으로 타인에게<br>
                    봉사하는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ENFJ mbti text-muted font-weight-bold">
                    <p>ENFJ</p>
                    <p>언변능숙형</p>
                    타인의 성장을<br>
                    도모하고<br>
                    협동하는 사람들
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-3 ENTJ mbti text-muted font-weight-bold">
                    <p>ENTJ</p>
                    <p>지도자형</p>
                    비전을 가지고<br>
                    사람들을 활력적으로<br>
                    이끌어가는 사람들
                </div>
            </div>
        </div>
        <button type="button" class="w-btn-blue wonyong-btn btn-info my-3" id="save_mbti">저장하기</button>
        <button type="button" class="w-btn-red wonyong-btn my-3 ml-5" id="check_mbti">MBTI 검사하기</button>
        <script>
            $(function () {
                $('#check_mbti').click(function () {
                    swal("검사하시겠습니까?",
                        {
                            buttons: {
                                cancel: "아니요!",
                                add: "네!"
                            },
                        }).then((v) => {
                        if (v === "add") {
                            swal({
                                title: "검사 하기!",
                                text: "검사 후 다시 사이트로 접속해주세요!",
                                icon: "success",
                                button: "확인"
                            }).then((v) => {
                                location.href = "https://www.16personalities.com/ko";
                            })
                        }
                    });
                });

            })
        </script>
    </div>
</div>
</html>