<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" type="text/css" href="/css/slicebox/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slicebox/css/slicebox.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slicebox/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/card_class.css"/>
    <script type="text/javascript" src="/css/slicebox/js/modernizr.custom.46884.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
        div > img {
            width: 350px;
        }

        .time > span {
            font-size: 10px;
        }

        div > img {
            width: 240px;
        }
        .course-container{
            display: flex;
        }
        @media (max-width:960px) {
            .course-container{
                flex-direction: column;
            }
        }
    </style>
    <script src="/css/user/user_myCourse.js"></script>
</th:block>
<div layout:fragment="content" style="background: #161623">
    <div th:replace="user/courseNav :: course"></div>
    <!-- Tab panes -->
    <div th:each="course : ${courses}" class="course-container">
        <div class="slide-wrapper">
            <ul th:id="${'sb-slider'+courseStat.index}" class="sb-slider">
                <a th:href="|/courseDetail/*{course.csCode.replaceAll('/', '')}|" target="_blank"></a>
                <li th:each="courseInfo : ${courseInfos.get(course.csCode)}">
                    <img th:src="${#hotpleAPI.toImg(courseInfo.uploadPath, courseInfo.uuid, courseInfo.fileName, #hotpleAPI.IMAGE)}"
                         alt="메뉴 이미지를 추가해주세요." class="img-fluid">

                    <div class="sb-description">
                        <h3 th:text="${courseInfo.busnName}">가게명</h3>
                        <h4 th:text="${courseInfo.htAddr}"></h4>
                    </div>
                </li>
            </ul>
            <div th:id="${'shadow'+courseStat.index}" class="shadow"></div>
            <div th:id="${'nav-arrows'+courseStat.index}" class="nav-arrows">
                <a href="#">Next</a>
                <a href="#">Previous</a>
            </div>
            <div th:id="${'nav-dots'+courseStat.index}" class="nav-dots">
                <span class="nav-dot-current">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div><!-- /wrapper -->
        <div class="card_class">
            <h2 th:text="${course.csTitle}"></h2>
            <div class="card_content">
                <h3 th:text="'만든 날짜 : ' + ${#hotpleAPI.toDateStr(course.csCode)}">만든 날짜 : 2021-04-02</h3>
                <p th:text="|함께할 사람 : *{course.csWith}|">함께할 사람 : 친구</p>
                <p th:text="|인원 : *{course.csNum}|">인원 : 2명</p>
                <a th:href="|/courseDetail/*{course.csCode.replaceAll('/', '')}|">
                    Read More
                </a>
            </div>
        </div>
    </div>

    <!-- <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="hotple-course">
             &lt;!&ndash; 찜코스 수만큼 반복 시작&ndash;&gt;
             <div th:each="course : ${courses}" class="jumbotron mx-4 card" style="min-height: 150px;">
                 <a th:href="|/courseDetail/*{course.csCode.replaceAll('/', '')}|" class="stretched-link"></a>
                 <div class="container">

                     <div class="swiper-container col-xl-10 col-md-10 col-sm-10">
                         <div class="swiper-wrapper">
                             <div th:each="courseInfo : ${courseInfos.get(course.csCode)}" class="swiper-slide">
                                 <div class="swiper-contents">
                                     <div class="d-flex justify-content-around">
                                         <div class="set-center">

                                             <img th:src="${#hotpleAPI.toImg(courseInfo.uploadPath, courseInfo.uuid, courseInfo.fileName, #hotpleAPI.IMAGE)}"
                                                  alt="메뉴 이미지를 추가해주세요." class="img-fluid">&lt;!&ndash; 디폴트 사진 &ndash;&gt;
                                         </div>
                                         <div class="set-center">
                                             <p>
                                                 <h7 th:text="${courseInfo.ciIndex}+ 번째">가게 순서</h7>
                                             </p>
                                             <p>
                                                 <h7 th:text="${courseInfo.htAddr}">가게 주소</h7>
                                             </p>
                                         </div>
                                         <div class="set-center">
                                             <p>
                                                 <h7 th:text="${courseInfo.busnName}">가게명</h7>
                                             </p>
                                             <p>
                                                 <h7 th:text="${courseInfo.htCont}">가게 설명</h7>
                                             </p>
                                             <p>
                                                 <h7 th:text="${#hotpleAPI.toTel(courseInfo.htTel)}">가게 전화번호</h7>
                                             </p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="swiper-pagination"></div>
                         <div class="swiper-button-prev"></div>
                         <div class="swiper-button-next"></div>
                     </div>
                     <div class="time d-flex flex-column">
                         <span th:text="'만든 날짜 : ' + ${#hotpleAPI.toDateStr(course.csCode)}">만든 날짜 : 2021-04-02</span>
                         <span th:text="|함께할 사람 : *{course.csWith}|">함께할 사람 : 친구</span>
                         <span th:text="|인원 : *{course.csNum}|">인원 : 2명</span>
                         <span th:text="|코스 제목 :  *{course.csTitle}|"></span>
                     </div>
                 </div>
             </div>
             &lt;!&ndash; 찜코스 수만큼 반복 끝&ndash;&gt;
         </div>
     </div>-->

    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // direction: 'horizontal',
            loop: true,
            pagination: {el: '.swiper-pagination',},
            navigation: {nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev',},
        });
    </script>
    <button class="mb-5 wonyong-btn-neon2 btn-warning" data-toggle="modal" data-target="#course_add">코스 추가하기</button>
    <div class="modal" tabindex="-1" id=" course_add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">추천 받을 코스 선택</h5>
                    <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </span>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-around">
                        <button class="btn-dark" id="custom">직접 커스텀</button>
                        <button class="btn-dark" onclick="location.href = '/aiCourse'">빅데이터 <br/>추천</button>
                        <button class="btn-dark" id="mbti">MBTI 유형<br/>추천</button>
                    </div>
                    <form id="setting" style="display: none;">
                        <div class="form-group">
                            <label for="title">코스 제목</label>
                            <input type="text" id="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="with">함께할 인원</label>
                            <select class="custom-select" id="with">
                                <option value="커플">커플</option>
                                <option value="친구">친구</option>
                                <option value="가족">가족</option>
                                <option value="혼자">혼자</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="person">인원수</label>
                            <input type="text" id="person" class="form-control">
                        </div>
                        <button type="button" id="custom_submit" class="btn-info">확인</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/css/slicebox/js/jquery.slicebox.js"></script>
    <script type="text/javascript">
        $(function () {
            for (let i = 0; i < 3; i++) {
                var Page = (function () {
                    var $navArrows = $('#nav-arrows' + i).hide(),
                        $shadow = $('#shadow' + i).hide(),
                        $navDots = $('#nav-dots' + i).hide(),
                        $nav = $navDots.children('span'),
                        slicebox = $('#sb-slider' + i).slicebox({
                            onReady: function () {
                                $navArrows.show();
                                $navDots.show();
                                $shadow.show();
                            },
                            onBeforeChange: function (pos) {
                                $nav.removeClass('nav-dot-current');
                                $nav.eq(pos).addClass('nav-dot-current');
                            },
                            orientation: 'r',
                            cuboidsRandom: true,
                            disperseFactor: 30
                        }),

                        init = function () {
                            initEvents();
                        },
                        initEvents = function () {

                            // add navigation events
                            $navArrows.children(':first').on('click', function () {

                                slicebox.next();
                                return false;

                            });

                            $navArrows.children(':last').on('click', function () {

                                slicebox.previous();
                                return false;

                            });
                            $nav.each(function (i) {

                                $(this).on('click', function (event) {

                                    var $dot = $(this);

                                    if (!slicebox.isActive()) {

                                        $nav.removeClass('nav-dot-current');
                                        $dot.addClass('nav-dot-current');

                                    }
                                    slicebox.jump(i + 1);
                                    return false;
                                });
                            });
                        };
                    return {init: init};
                })();
                Page.init();
            }
        });
    </script>
    <script type="text/javascript" src="/css/slicebox/js/vanilla-tilt/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll('.card_class'), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1
        })
    </script>
</div>
</html>