<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <style>
        .ht-img {
            height: 200px;
            width: auto;
            border: 3px #1a252f solid;
            border-radius: 25px;
        }

        #map_div > div > div > img:hover {
            cursor: pointer;
        }
    </style>
    <script src="/css/user/user_search.js"></script>
</th:block>
<div layout:fragment="content">
    <button class="wonyong-btn w-btn-blue mt-3" type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="true">
        위치 설정
    </button>
    <div id="collapseMap" class="collapse show">
        <div class="container">
            <div class="bg-dark d-flex flex justify-content-around text-light" style="height: 20px;width: 400px;position: relative;top: 20px;z-index: 1000;">
                <span>먹거리<img src="/images/icons/mark/redMark.png" style="width: 16px;height: 16px;" class="mb-2"></span>
                <span>디저트<img src="/images/icons/mark/blueMark.png" style="width: 16px;height: 16px;" class="mb-2"></span>
                <span>놀이/취미<img src="/images/icons/mark/greenMark.png" style="width: 16px;height: 16px;" class="mb-2"></span>
                <span>음주<img src="/images/icons/mark/yellowMark.png" style="width: 16px;height: 16px;" class="mb-2"></span>
                <span>보기<img src="/images/icons/mark/pinkMark.png" style="width: 16px;height: 16px;" class="mb-2"></span>
                <span>걷기<img src="/images/icons/mark/grayMark.png" style="width: 16px;height: 16px;" class="mb-2"></span>
            </div>
            <div id="map_div"></div>
            <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxcd9bdd0942b542fd8c7be931fc11a3b4"></script>
            <script th:inline="javascript">
                let ht_map = [[${hotples}]];
            </script>
            <div class="d-flex justify-content-around">
                <button class="wonyong-btn w-btn-green mt-3" type="button" onclick="setMyGeo()">내 위치 보기</button>
                <button class="wonyong-btn w-btn-green mt-3" type="button" onclick="setGeo()">현위치로 설정</button>
            </div>
        </div>
    </div>
    <div id="hotple_div">
        <th:block th:each="num : ${#numbers.sequence(0, hotples.size() / 4)}">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 m-2">
                <th:block th:each="index : ${#numbers.sequence(0, 3)}">
                    <th:block th:if="${num * 4 + index < hotples.size()}">
                        <div class="col mb-4">
                            <div class="card h-100">
                                <th:block th:if="${hotples.get(num * 4 + index).htImg == null && hotples.get(num * 4 + index).goImg == null}">
                                    <img src="/images/logo.jpg" class="ht-img m-3" alt="이미지가 없습니다.">
                                </th:block>
                                <th:block th:if="${hotples.get(num * 4 + index).htImg != null}">
                                    <img th:src="${#hotpleAPI.toImg(hotples.get(num * 4 + index).uploadPath,
                                    hotples.get(num * 4 + index).htImg, hotples.get(num * 4 + index).fileName, #hotpleAPI.IMAGE)}"
                                         alt="이미지가 없습니다." class="ht-img m-3">
                                </th:block>
                                <th:block th:if="${hotples.get(num * 4 + index).htImg == null && hotples.get(num * 4 + index).goImg != null}">
                                    <img th:src="${hotples.get(num * 4 + index).goImg}" alt="이미지가 없습니다." class="ht-img m-3"/>
                                </th:block>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${hotples.get(num * 4 + index).busnName}">가게 이름</h5>
                                    <div class="text-left">
                                        <span class="font-weight-bold">구글 평점 : </span>
                                        <span class="text-warning h4" th:text="${hotples.get(num * 4 + index).goGrd}">4.5</span>
                                    </div>
                                </div>
                                <a th:href="|/hotple/*{hotples.get(num * 4 + index).htId}|" class="stretched-link"></a>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </th:block>
    </div>
</div>
</html>