<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="~{user/default}">
<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/user/shopDetail.css">
    <link rel="stylesheet" href="/css/manager/review.css">
    <script src="/css/user/stopDetail.js"></script>
</th:block>
<div layout:fragment="content">
    <input type="hidden" th:value="${hotple.htId}" id="htId">
    <div class="rd-header l-container">
        <div class="l-contents l-contents--fixed">
            <div class="rd-header__headline rd-header__headline--award-badge">
                <h2 class="rd-header__rst-name">
                    <a class="rd-header__rst-name-main" th:text="${hotple.busnName}">가게명</a>
                    <small class="rd-header__rst-name-ja"
                           th:text="${#strings.arraySplit(hotple.htAddr, ' ')[0]}">(지역명)</small>
                </h2>
            </div>
            <div class="rd-header__contents">
                <div class="rd-header__info-wrapper d-flex justify-content-start">
                    <p class="rd-header__rst-map">
                        <a class="c-img-target">
                            <img class="c-img c-img--frame"
                                 th:src="${#hotpleAPI.toImg(hotple.uploadPath, hotple.htImg, hotple.fileName, #hotpleAPI.IMAGE)}">
                        </a>
                    </p>
                    <div class="rd-header__info-table p-3">
                        <dl>
                            <dt><span>주소</span></dt>
                            <dd th:text="${hotple.htAddr}">
                                ~시 ~구 ~로 123142 층
                            </dd>
                        </dl>
                        <dl>
                            <dt><span>영업시간</span></dt>
                            <table class="table">
                                <th:block th:each="time : ${openInfos}">
                                    <tr th:switch="${time.htOb.replace('/', '')}">
                                        <th:block th:case="WO">
                                            <th>평일 오픈</th>
                                            <th th:text="${#hotpleAPI.tCodeToTime(time.TCode)}"></th>
                                        </th:block>
                                        <th:block th:case="WB">
                                            <th>평일 휴식</th>
                                            <th th:text="${#hotpleAPI.tCodeToTime(time.TCode)}"></th>
                                        </th:block>
                                        <th:block th:case="TO">
                                            <th>토요일 오픈</th>
                                            <th th:text="${#hotpleAPI.tCodeToTime(time.TCode)}"></th>
                                        </th:block>
                                        <th:block th:case="TB">
                                            <th>토요일 휴식</th>
                                            <th th:text="${#hotpleAPI.tCodeToTime(time.TCode)}"></th>
                                        </th:block>
                                        <th:block th:case="SO">
                                            <th>일요일 시작</th>
                                            <th th:text="${#hotpleAPI.tCodeToTime(time.TCode)}"></th>
                                        </th:block>
                                        <th:block th:case="SB">
                                            <th>일요일 휴식</th>
                                            <th th:text="${#hotpleAPI.tCodeToTime(time.TCode)}"></th>
                                        </th:block>
                                    </tr>
                                </th:block>
                            </table>
                        </dl>
                        <dl>
                            <dt><span>정기 휴무</span></dt>
                            <dd>
                                매주 월요일
                            </dd>
                        </dl>
                        <dl>
                            <dt><span>TEL</span></dt>
                            <dd th:text="${#hotpleAPI.toTel(hotple.htTel)}">
                                010-1234-5678
                            </dd>
                        </dl>
                        <dl>
                            <dt><span>예산</span></dt>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>메뉴 값</th>
                                    <th th:text="${#numbers.formatInteger(min, 3, 'COMMA')} + ' ~ ' +
                                        ${#numbers.formatInteger(max, 3, 'COMMA')}"></th>
                                </tr>
                                <tr>
                                    <th>평균 값</th>
                                    <th th:text="${#numbers.formatInteger(avg, 3, 'COMMA')}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </dl>
                        <dl>
                            <dt><span>설명</span></dt>
                            <dd th:text="${hotple.htCont}">
                                맛있습니다
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- l-container -->
    <!-- 버튼들 -->
    <div class="bottom-container">
        <ul class="nav menu-nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#메뉴">메뉴</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#리뷰">리뷰</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- 메뉴 시작 -->
            <div class="tab-pane fade show active" id="메뉴">
                <main id="menu-tab">
                    <div id="field" class="p-3 col-sm-8">
                        <!-- 카테고리 상자 시작 (반복 상자) -->
                        <div th:name="${menus.key}" th:each="menus : ${menu_map}"
                             class="menu-div p-2 border-dark border rounded mb-5">
                            <section class="area2">
                                <ul aria-hidden="true" data-toggle="collapse" class="d-flex" role="button"
                                    th:data-target="'#' +|collapse*{menus.key}|" style="padding: 0;margin: auto;">
                                    <li><h2 class="category-title" th:text="${menus.key}">카테고리</h2></li>
                                    <li class="flex-center"><i class="arrow fas fa-angle-down"></i></li>
                                </ul>
                                <section class="area4 collapse" th:id="|collapse*{menus.key}|">
                                    <table th:each="menu : ${menus.value}" class="menu-select-btn" style="width:100%">
                                        <tbody>
                                        <tr class="row">
                                            <td class="photo-area col-12 col-sm-6">
                                                <th:block th:if="${menu.uuid != null}">
                                                    <img th:src="${#hotpleAPI.toImg(menu.uploadPath, menu.uuid, menu.fileName, #hotpleAPI.IMAGE)}"
                                                         alt="메뉴 이미지를 추가해주세요." class="img-fluid">
                                                </th:block>
                                            </td>
                                            <td class="menu-text col-12 col-sm-6">
                                                <div><h3 class="menu-title" th:text="${menu.meName}"></h3></div>
                                                <div><h6 class="menu-expl" th:text="${menu.meIntr}"></h6></div>
                                                <div><h6 class="menu-price" th:text="|${#numbers.formatInteger(menu.mePrice, 0, 'COMMA')}원|"></h6></div>
                                                <input type="hidden" class="menu-code" th:value="${menu.meCode}" />
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </section>
                        </div>
                        <!-- 카테고리 상자 끝 (반복 상자)-->
                    </div>
                    <div id="cart" class="col-sm-4">
                        <!-- 카트 시작 -->
                        <div class="sub-title">
                            <span>카트</span>
                        </div>
                        <div class="cart-list">
                            <ul style="padding:0px;">
                                <div class="list-container">
                                    <li id="empty-cart" class="list-group-item"
                                        style="border-top-left-radius: 0;border-top-right-radius: 0;">
                                        <div class="cart-item">
                                            <div class="menu-name "></div>
                                            <div class="d-flex item-detail">
                                                <div class="col-xs-6 pull-left flex-center">
                                                    <span>카트가 비었습니다</span>
                                                </div>
                                                <div class="col-xs-6 pull-right flex-center">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                                <li class="list-group-item d-flex">
                                    <div>총합</div>
                                    <div>
                                        <div id="cart-total-price">0원</div>
                                    </div>
                                </li>
                                <div sec:authorize-expr="isAuthenticated()">
                                    <button id="reservation-btn" data-toggle="modal"  data-target="#reservation-modal" type="button" class="w-100 btn btn-primary" style="margin: 0;">예약</button>
                                </div>
                                <div sec:authorize-expr="!isAuthenticated()">
                                    <button type="button" class="w-100 btn btn-warning" style="margin: 0;" onclick="location.href = '/login'">로그인</button>
                                </div>
                            </ul>
                        </div>
                        <div sec:authorize-expr="isAuthenticated()">
                            <button type="button" class="w-100 btn btn-warning m-0" data-toggle="modal" data-target="#course-modal">코스에 추가</button>
                        </div>
                        <!-- 카트 끝 -->
                    </div>
                </main>
            </div>
            <!-- 메뉴 끝 -->
            <!-- 리뷰 시작 -->
            <div class="tab-pane fade" id="리뷰">
                <div id="review-tab">
                    <div class="star-point-wrap">
                        <div class="inner">
                            <div class="restaurant-star-point">
                                <!-- 전체 평균 -->
                                <strong th:text="${#hotpleAPI.avg(ratings)}">
                                </strong>
                                <span class="star-rating-yel">
                                    <span th:style="'width:' + ${#hotpleAPI.avg(ratings) * 20} + '%'" class="float-left"></span>
                                </span>
                            </div>
                            <ul class="star-point-list">
                                <!--5번 반복해서 각 점수별 몇명인지 표시 -->
                                <li th:each="num : ${#hotpleAPI.getMaps(ratings)}">
                                    <span class="star-point">
                                        <th:block th:each="n : ${#numbers.sequence(1, num.key)}">
                                            <span class="full">★</span>
                                        </th:block>
                                        <span class="points" th:text="|*{num.value}명|">사람수</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="review-count">
                        <div>
                            리뷰 <strong>숫자</strong>개·사장님댓글 <strong>숫자</strong>개
                        </div>
                    </div>

                    <ul id="review" class="list-group review-list">
                        <!-- 리뷰 전체 시작 (리뷰 수만큼 반복) -->
                        <li class="list-group-item star-point" th:each="review : ${reviews}">
                            <div>
                                <span nclass="review-id" th:text="${review.UCode.split('/')[0]}">사용자명</span>
                                <span class="review-time" th:text="${#hotpleAPI.toDateStr(review.riCode)}">시간</span>
                                <a href="" class="btn-report" data-toggle="modal" data-target="#report-modal">신고</a>
                            </div>
                            <div>
                                <div class="star-point">
                                    <!-- 별점 갯수 반복 -->
                                    <span class="category">
                                        <span class="star-rating">
                                            <span th:style="'width:' + ${review.rvRating * 20} + '%; margin-right: 100%;'"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <!-- 이미지 들어갈 곳 -->
                            <div class="order-items default " th:text="|메뉴코드 : *{review.riCode}|">
                                메뉴코드
                            </div>
                            <p th:text="${review.rvCont}">리뷰 내용</p>
                            <!-- 답글  -->
                            <th:block th:if="${review.rvOwnCont != null}">
                                <div class="reply-text">
                                    <div>
                                        <span class="owner-review-id">사장님</span>
                                        <span class="review-time">시간</span>
                                    </div>
                                    <span class="reply-content" th:text="${review.rvOwnCont}">답글</span>
                                </div> <!-- 답글 끝 -->
                            </th:block>
                        </li>
                        <!-- 리뷰 전체 끝 -->
                        <li class="list-group-item btn-more">
                            <a><span>더 보기<i class="arr-down"></i></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 리뷰 끝 -->
        </div>
        <!-- 버튼들 끝 -->
    </div>
    <!--신고 모달 -->
    <div>
        <div class="modal fade" id="report-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">신고 내용</h4>
                    </div>
                    <div class="modal-body">
                        <h5>신고 사유</h5>
                        <select name="report-options" class="form-control" >
                            <option value="ads">광고</option>
                            <option value="obscene">음란</option>
                            <option value="abuse">욕설</option>
                            <option value="else">기타</option>
                        </select>
                        <input type="text"  id="report-content" class="form-control editing" placeholder="신고 내용" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" >제출</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block sec:authorize-expr="isAuthenticated()">
        <!--예약 모달 -->
        <div>
            <div class="modal" id="reservation-modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">예약</h4>
                        </div>
                        <div class="modal-body">
                            <div class="flex-center">
                                <h6>예약 인원</h6>
                                <div class="col-xs-6 pull-right flex-center">
                                    <i class="btn btn-minus far fa-minus-square flex-center"></i>
                                    <span class="order-num" id="riPerson">1</span>
                                    <i class="btn btn-plus far fa-plus-square flex-center"></i>
                                </div>
                            </div>
                            <h6>예약 확인</h6>
                            <div id="reservation-confirm">
                            </div>
                            <div id="reservation-total-price"></div>
                            <input type="text"  id="reservation-request" class="form-control editing" placeholder="예약 요구사항" >
                            <input type="text"  id="reservation-time" class="form-control datetimepicker" placeholder="예약 시간" >
                            <input type="text" id="name" class="form-control editing" placeholder="실명 입력">
                            <button type="button" class="btn-dark" id="addr_btn" onclick="goPopup()">주소 입력</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            <button id="submit_reservation" type="button" class="btn btn-primary" disabled>결제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <!--코스 모달 -->
    <th:block sec:authorize-expr="isAuthenticated()">
        <script th:inline="javascript">
            let courses = [[${courseInfos}]];
            console.log(courses);
        </script>
        <div>
            <div class="modal" id="course-modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">내 코스</h4>
                        </div>
                        <div class="modal-body d-flex flex-column">
                            <th:block th:if="${courses != null}">
                                <h3>핫플을 추가할 코스 선택</h3>
                                <th:block th:each="course : ${courses}">
                                    <span class="btn btn-google course" th:text="${course.csCode}"></span>
                                </th:block>
                            </th:block>
                            <th:block th:if="${courses == null}">
                                <a href="/myCourse?kind=myCourse" class="btn btn-info mb-0">코스 추가하러 가기</a>
                            </th:block>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" >제출</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
</html>