<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="user/layout::head ('Registration')">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        @media(max-width:650px){
            .btn-outline-dark{
                width:55px;
                height:30px;
                font-size: 8px;
                font-weight: 600;
                padding:0px;
            }
        }

    </style>
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"
                                th:text="${msg == null ? 'Create an Account!' : msg}">Create an Account!</h1>
                        </div>
                        <form class="user" method="post" action="/registerComplete">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       name="uCode" th:value="${user.UCode}" placeholder="Email Address" readonly>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       th:value="${user.nick}" id="exampleInputPassword" name="nick"
                                       placeholder="Nick Name">
                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control form-control-user" placeholder="birthday"
                                       autocomplete="off"
                                       id="datepicker" name="birthday">
                                <script>
                                    $('#datepicker').datetimepicker({
                                        timepicker: false,
                                        format: 'Y-m-d',
                                        language: 'ko',
                                        autoclose: true,
                                        theme: 'dark'
                                    });
                                </script>
                            </div>
                            <div class="form-group d-flex">
                                <input type="text" class="form-control form-control-user" id="phoneInputEmail"
                                       th:value="${user.phone}" name="phone" placeholder="Phone Number Without '-'">
                                <input type="button" class="btn btn-outline-dark my-auto ml-3" value="인증번호 받기" id="sendPhoneNumber">
                            </div>
                            <div class=" form-group d-flex">
                                <input type="text" class="form-control form-control-user" id="inputCertifiedNumber"
                                       th:value="${user.phone}" placeholder="인증번호를 입력해주세요.">
                                <input type="button" class="btn btn-outline-dark my-auto ml-3" value="인증번호 확인" id="checkBtn">
                            </div>


                            <div class="form-group custom-control custom-radio">
                                <input type="radio" name="gender" id="radio-1" class="custom-control-input"
                                       checked="checked" value="M">
                                <label class="custom-control-label" for="radio-1">Man</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="gender" id="radio-2" class="custom-control-input"
                                       value="W">
                                <label class="custom-control-label" for="radio-2">Woman</label>
                            </div>


                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" th:value="${user.pw}" name="pw">
                            <input type="hidden" th:value="${user.profileImg}" name="profileImg"/>
                            <button type="submit" class="ml-0 btn btn-primary btn-user btn-block"
                                    onclick="return pass()">
                                Register Complete!
                            </button>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let isPassed = false;

    function pass() {
        let arr = $('.form-control').get();
        for(let i = 0; i < arr.length; i++){
            if ($(arr[i]).val().trim() == "") {
                console.log(i);
                swal({
                    title: "실패!",
                    text: "모든 입력칸을 전부 입력해주세요!",
                    icon: "error",
                    button: "확인",
                });
                return false;
            }
        };
        if (!isPassed) {
            swal({
                title: "실패!",
                text: "인증번호를 확인해주세요!",
                icon: "error",
                button: "확인",
            });
            return isPassed;
        } else return true;
    }

    $('#sendPhoneNumber').click(function () {
        const regTel = /^01(?:0|1|[6-9])(?:\d{3}|\d{4})\d{4}$/;
        if (regTel.test($('#phoneInputEmail').val())) {
            let phoneNumber = $('#phoneInputEmail').val();
            swal({
                title: "전송 완료!",
                text: "인증번호를 입력해주세요!",
                icon: "success",
                button: "확인",
            });

            $.ajax({
                type: "GET",
                url: "/sendSMS",
                data: {
                    phoneNumber: phoneNumber
                },
                success: function (res) {
                    $('#checkBtn').click(function () {
                        if ($.trim(res) == $('#inputCertifiedNumber').val()) {
                            isPassed = true;
                            swal({
                                title: "인증 성공!",
                                text: "계속 진행해주세요!",
                                icon: "success",
                                button: "GO!",
                            });
                            $('#phoneInputEmail').attr('readonly',true);
                        } else {
                            swal({
                                title: "인증 실패!",
                                text: "인증번호를 확인해주세요!",
                                icon: "error",
                                button: "확인",
                            });
                        }
                    })
                }
            });
        } else swal({
            title: "실패!",
            text: "올바른 휴대폰 번호를 입력해주세요!",
            icon: "error",
            button: "확인",
        });
    });
</script>
</body>
</html>