@CHARSET "UTF-8";


.mpy-container{
    margin-bottom: 10em;
}

.pt-container{
    padding-top: 15em;
}

.pd-jumbotron{
    padding-top: 10em;
}

.pd-row{
    padding-bottom: 5em;
}

.container-fluid {
    padding: 5em 5em;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.logo-design{
    max-width: 5.5em;
}


.logo-small {
    color: #3399ff;
    font-size: 50px;
}

.logo {
    color: #3399ff;
    font-size: 200px;
}


@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0px;
    text-align: center;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;

}

.download {
    margin: 0px;
    background-color: rgba(6, 22, 66, 0.199);
}

.down_load {
    font-weight: bold;
    font-size: 35px;
    font-family: 'paybooc-Light';
}

p.a {
    font-size: 25px;
    font-weight:bold;
    color: rgb(32, 32, 32);
    padding-top: 50px;
    line-height: 35px;

}

p.b {
    font-size: 17px;
    line-height: 5px;


}

p {
    line-height: 25px;
}

.download {
    padding: 70px;
}

button {
    width : 120px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.952);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    margin: 10px;
    border: none;
    font-family: 'paybooc-Light';
    cursor: pointer


}

button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px
    16px rgba(3, 34, 100, 0.404);
}

.info__office{
    color: rgb(49, 48, 48);
    line-height: 10px;
    padding: 20px;
}

.c__T {
    font-size: 20px;
    font-weight:bold;
}

.imq {
    text-align: left;
    margin-bottom: 20px;
}

.osnOAq {
    font-size: 32px;
}

.aqnxpQs {
    font-size: 24px;
}
.Goanb {
    padding: 70px 0px;
    width: 90%;
}

.Idbxz {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.BWosna {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1100px;
}

.lijvsY {
    font-size: 24px;
    margin-bottom: 20px;
}

.fNakta {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    flex-direction: column;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
    column-count: initial !important;
    overflow: auto;
    resize: none;

}

.jQEkax {
    height: 62px;
    background: #fff;
    border: 0px;
    outline: 0px;
    padding: 5px 18px;
    border-radius: 4px;
    appearance: none;
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 10px 0px;
    width: 600px;
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    height: 62px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;

}

.footer {
    align-items: center;
    background-color: gainsboro;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 1em;
    height: 200px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 0 15px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

