* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

div {
    display: block;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title h1 {
    font-size: 3rem;
}

.board_view_wrap {
    width: 1000px;
    padding-bottom: 113px;
    position: relative;
    margin: 0 auto;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
    font-size: 1.4rem;
    display: inline-block;
}

.board_view .title {
    padding: 15px;
    border-bottom: 1px solid #9a9a9a;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #9a9a9a;
}

.board_view .info dl {
    padding: 0 20px;
    position: relative;
    display: inline-block;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 1px;
    height: 17px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd{
    display: inline-block;
    font-size: 1.5rem;
}

.board_view .info dl dt {

}

.board_view .info dl dd {
    margin-left: 10px;
    color: #6f6a6c;
}

.board_view .contents {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 10px;
}

.btn_c {
    margin-top: 30px;
    text-align: center;
}

.btn_c a {
    border-radius:3px;
    padding:5px 11px;
    color:#fff !important;
    display:inline-block;
    background-color:#6b9ab8;
    border:1px solid #56819d;
    vertical-align:middle;
}

.btn_c a:first-child {
    margin-left: 0;
}

.btn_c a.on{
    background: #6fcdd2;
    color: #fff;
}

.add_bot {
    position: relative;
    height: 50px;
    margin: 47px 0 36px;
    border-bottom: 1px solid #888;
}

.add_bot .btn_group {
    width: 170px;
    float: left;
}

.add_bot .btn_group .bn_recommend .btn_recom {
    background-position: -340px -415px;
}

.add_bot .btn_group .bn_good .btn_good {
    background-position: -230px -360px;
}

.add_bot .btn_group .bn_not_good .btn_not_good {
    background-position: -340px -360px;
}

.add_bot .btn_group .bn_share {
    background-position: -395px -415px;
}

.add_bot .btn_group,
.add_bot .btn_group .bn_recommend .btn_recom,
.add_bot .btn_group .bn_good .btn_good,
.add_bot .btn_group .bn_not_good .btn_not_good,
.add_bot .btn_group .bn_share .btn_share {
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.add_bot .btn_group,
.add_bot .btn_group .bn_recommend .btn_recom,
.add_bot .btn_group .bn_good .btn_good,
.add_bot .btn_group .bn_not_good .btn_not_good,
.add_bot .btn_group .bn_share .btn_share {
    width: 50px;
    height: 51px;
    margin-right: 6px;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.add_bot .btn_group .bn_recommend button span,
.add_bot .btn_group .bn_good button span,
.add_bot .btn_group .bn_not_good button span,
.add_bot .btn_group .bn_share button span {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

#comments {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    color: #37373c;
    word-break: break-all;
}

#comments-head {
    float:top;
    position: relative;
}

.comments-row {
    text-align: left;
    text-decoration: none;
    font-size: 2rem;
    height: auto;
}

.comments_submit {
    margin-bottom: 50px;
}

#new_comment{
    font-size: 1.5rem;
    width: 90%;
    height: 80px;
    text-align: left;
    background-color: #fff;
    border:1px solid #ccc;
    overflow: scroll;
    float: left;
    position: relative;
    resize: none;
    font-style: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    padding: 10px 10px;
    display: block;
}

#new_comment_cnt {
    text-align: left;
    font-size: 1.2rem;

}

.submit {
    float:right;
    position: relative;
}

.list>li .Icon {
    left: 0;
    top: 0;
    height: 36px;
    float: left;
    padding: 10px;
}

.comments_row .Image_size {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-position: -190px -440px;
}

.comment-date {
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 1.1rem;
    font-color: #7a7a7a;
    position: relative;
}

.comment-contents {
    padding-bottom: 10px;
    font-size: 1.4rem;
}
