<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main_fragment::head ('Main')">
</head>
<body id="myDidPage" data-spy="scroll" data-target=".navbar" data-offset="100">
<div th:insert="main_fragment::nav"></div>

<div class="logo__image" >
    <img src="images/logo.jpg" alt="LOGO" >
</div>
<div class="download">
    <p class="down_load">모바일 앱 다운로드</p>
    <button>Android</button><button>iOS</button>
</div>
<div class="info__project">
    <p class="a">01 <br> 나의 취향과 성격에 딱 맞는 코스 </p>
    <p class="b">취향 선택과 성격 분석을 통하여 하나뿐인 코스를 추천</p>
    <img src="images/p01.JPG" alt="p01" >

    <p class="a">02 <br> 인기 있었던 코스만을 골라서 </p>
    <p class="b">지정한 위치 주변의 월간, 주간 핫코스를 조회 </p>
    <img src="images/p02.JPG" alt="p02" >

    <p class="a">03 <br> 가고 싶은 장소 미리 예약 </p>
    <p class="b">웨이팅이 걱정될 때는 방문 전 예약하고 결제한 후 방문</p>
    <img src="images/p03.JPG" alt="p03" >

    <p class="a">04 <br> 걸을 때마다 쌓이는 포인트 </p>
    <p class="b">포인트를 적립하여 코스 예약 시 할인 이용 가능</p>
    <img src="images/p04.JPG" alt="p04" >

</div>
<div class="info__office">
    <p class= "c__T">Make Wda Greate Again <br></p>
    <p> 조원용 강을찬 김경한 김진환 박호용 이승환 이주영 <br>
        소속: 영진전문대학교 컴퓨터정보계열 3WDA <br>
        대표 전화: 053-940-5114 <br>
        제휴/문의: support@hotplego.co.kr <br>
        대구광역시 북구 복현로 35
    </p>
</div>
</body>
</html>